@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf');

}

:root {
  --white: #FFFFFF;
  --txt-black: #2E2E22;
  --orange: #FF8800;
  --bg-dark-green: #354E57;
  --bg-light-green: #EEF3F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--white);
  color: var(--txt-black);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  font-family: inherit;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.cmn-container {
  width: 98%;
  margin: 0 auto;
  max-width: 1180px;
}

.default-btn {
  border: solid 1px var(--bg-dark-green);
  background-color: var(--white);
  color: var(--bg-dark-green);
  font-weight: 700;
  text-align: center;
  transition: all .1s ease-in;
}

.default-btn:hover {
  border: solid 1px transparent;
  background-color: var(--bg-dark-green);
  color: var(--white);
}

.cmn-ttl {
  font-size: 24px;
  font-weight: 700;
}

/*---------------------header------------------------*/
.gnav {
  z-index: 1000;
  padding: 25px 0 20px 0;
  text-align: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 20px;
  height: 14px;
  margin: 1px 30px 0 2px;
  /*padding: 2.496px;*/
  cursor: pointer;
}

.menu-toggle span {

  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-toggle:hover span {
  background-color: #555;
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(5.7px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-5.7px) rotate(-45deg);
}

.gnav .logo-img {
  width: 111px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-links li {
  position: relative;
  margin-right: 51px;
  padding-bottom: 9px;
}

.nav-links li:last-of-type {
  margin-right: 0;
}

.nav-links li:nth-of-type(3) {
  margin-right: 54px;
  margin-left: 6px;
}

.nav-links li a {
  font-weight: 500;
  letter-spacing: .25px;
}

.nav-links li.active::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--orange);
  content: '';
}

/*---------------------Left and Right------------------------*/
.left-right {
  display: flex;
}

.left-right .txt-side {
  width: 50%;
  padding: 225px 0 206px;
  background-color: #547665;
}

.left-right .txt-side .txt-side-blk {
  margin-left: 81px;
}

.left-right .txt-left .txt-side-blk {
  margin-left: 169px;
}

.txt-side-blk .txt-side-title {
  line-height: 1.4;
  margin-bottom: 22px;
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}

.txt-side-blk .txt-side-para {
  line-height: 1.6;
  margin-bottom: 53px;
  color: var(--white);
  font-size: 16px;
}

.txt-side-blk .default-btn {
  padding: 9px 38px;
  border: 1px solid var(--bg-light-green);
  background-color: transparent;
  color: var(--white);
/* -------------------clean product----------------*/
.clean-wrapper {
  background-color: #35736A;
  display: flex;
}

.clean-artl {
  padding: 223px 101px 198px 170px;
  line-height: 1.5;
}

.clean-artl h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.clean-artl p {
  color: #fff;
  margin: 19px 0px 60px 0px ;
}

.clean-artl a {
  color:#fff;
  border: 1px solid #fff;
  padding: 4px 40px;
  font-size: 14px;
  font-weight: 700;
}

.txt-side-blk .default-btn:hover {
  background-color: var(--white);
  color: var(--txt-black);
}

.left-right .img-side {
  width: 50%;
}

.left-right .img-side img {
  width: 100%;
  height: 100%;
}

/*---------------------footer------------------------*/
footer {
  background-color: #354E57;
}

.join {
  line-height: 1.2;
  padding: 35px 180px;
  background-color: #fff;
}

.join-wrapper {
  display: flex;
}

.join-wrapper h3 {
  padding-right: 17px;
  border-right: 2px solid;
  font-size: 32px;
  font-weight: 700;
}

.join-wrapper p {
  width: 50%;
  margin: 15px 0px 0px 69px;
}

.joinsub {
  margin: 15px 0px 0px 57px;
  display: flex;
}

.join-input {
  display: flex;
}

.joinsub input {
  padding: 12px 41px;
  border: 1px solid #FF8800;
  height: 67%;
}

.joinsub button {
  
  background-color: #FF8800;
  color: #fff;
  padding: 14px 31px;
  display: inline-block;
  height: 67%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 90px 0px 42.5px 0px;
}

.footer-list-wrapper {
  display: flex;
  gap:83px;
}

.footer-logo-wrapper p {
  margin: 30px 0px 50px 0px;
  color: #FFF;
  font-size: 16px;
}

.footer-logo-wrapper input {
  padding: 12px 72px 12px 8px;
  border: 1px solid #fff;
  background-color: #354E57;
  font-size: 14px;
}

::placeholder {
  color: #fff;
}

.footer-logo-wrapper button {
  padding: 12px 30px;
  border: 1px solid #fff;
  background-color: #354E57;
  color: #fff;
  font-size: 14px;
}

.footer-list-wrapper ul {
  line-height: 1.8;
  margin-top: 88px;
  color: #fff;
}

.footer-list-wrapper ul h5 {
  margin-bottom: 9px;
  font-weight: 700;
}

.more {
  padding-right: 30px;
}

.copy p {
  margin: 50px 0px 30px 0px;
  color: #fff;
  font-size: 16px;
}

.copy ul {
  display: flex;
  color: #fff;
  font-size: 16px;
  gap: 80px;
}

.copy-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  margin: 50px 82px 0px 0px;
  color: #fff;
  font-size: 27px;
  gap: 23px;
}

.copy-wrapper {
  padding-bottom: 80px;
}

.copy ul li a {
  text-decoration: underline;
}


/*Media Query
Ipad*/
@media screen and (min-width:768px) and (max-width:1180px) {
  .cmn-container {
    width: 89.5%;
  }

 
  /* -------------------clean product----------------*/
  .clean-wrapper {
    background-color: #35736A;
    display: block;
  }
  
  .clean-artl {
    padding: 13.036vw 23.151vw 12.782vw 5.136vw;
    line-height: 1.5;
  }

  .clean-wrapper img {
    max-height: 64.714vw;
    width: 100%;

  }
  
  .clean-artl h2 {
    font-size: 5.209vw;
    font-weight: 700;
    color: #fff;
  }
  
  .clean-artl p {
    color: #fff;
    margin: 2.474vw 0vw 7.813vw 0vw ;
  }
  
  .clean-artl a {
    color:#fff;
    border: 0.131vw solid #fff;
    padding: 0.521vw 5.209vw;
    font-size: 1.822vw;
    font-weight: 700;
  }
  
  /* ----------footer----------------- */
  footer {
    background-color: #354E57;
  }
  
  .join {
    background-color: #fff;
    padding: 6.557vw 0vw 5vw 0vw;
    line-height: 1.2;
  }
  
  .join-wrapper {
    display: block;
  }
  
  .join-wrapper h3 {
    padding-right: 2.214vw;
    border-right: none;
    font-size: 4.167vw;
    font-weight: 700;
    color: #354E57;
  }
  
  .join-wrapper p {
    width: 50%;
    margin: 5.953vw 0vw 0vw 0vw;
  }
  
  .joinsub {
    margin: 6.953vw 0vw 0vw 7.423vw;
    display: flex;
  }
  
  .join-input {
    display: flex;
  }
  
  .joinsub input {
    padding: 1.563vw 5.339vw;
    border: 0.131vw solid #FF8800;
    height: 67%;
  }
  
  .joinsub button {
    background-color: #FF8800;
    color: #fff;
    padding: 0vw 4.036vw;
    display: inline-block;
    height: 67%;
  }
  
  .footer-wrapper {
    display: block;
    padding: 7.719vw 0vw 5.534vw 0vw;
  }
  
  .footer-list-wrapper {
    display: flex;
    gap:14.807vw;
    margin-left: 4.557vw;
  }
  
  .footer-logo-wrapper p {
    font-size: 2.083vw;
    color: #FFF;
    margin: 3.906vw 0vw 6.51vw 0vw;
  }
  
  .footer-logo-wrapper input {
    font-size: 1.822vw;
    border: 0.131vw solid #fff;
    padding: 1.563vw 9.376vw 1.563vw 1.042vw;
    background-color: #354E57 ;
  }
  
  ::placeholder {
    color: #fff;
  }
  
  .footer-logo-wrapper button {
    color: #fff;
    font-size: 1.822vw;
    border: 0.131vw solid #fff;
    padding: 1.563vw 3.906vw;
    background-color: #354E57;
  }
  
  .footer-list-wrapper ul {
    color: #fff;
    line-height: 1.8;
    margin-top: 5.459vw;
  }
  
  .footer-list-wrapper ul h5 {
    margin-bottom: 1.172vw;
    font-weight: 700;
  }
  
  .more {
    padding-right: 3.906vw;
  }
  
  .copy p {
    color: #fff;
    font-size: 2.083vw;
    margin: 3.51vw 0vw 3.906vw 0vw;
  }
  
  .copy ul {
    display: flex;
    color: #fff;
    font-size: 2.083vw;
    gap: 5.417vw;
  }
  
  .copy-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .icon {
      color: #fff;
      display: flex;
      gap: 2.995vw;
      font-size: 3.515vw;
      margin: 3.51vw 0vw 0vw 0vw;
  }
  
  .copy-wrapper {
    padding-bottom: 10.417vw;
  }
  
  .copy ul li a {
    text-decoration: underline;
  }
  
}

/*SP*/
@media screen and (max-width:767.9px) {
  .cmn-container {
    width: 94.3%;
  }

  /*---------------------header------------------------*/

  .gnav {

    position: relative;
    padding: 28px 0px 22px 0px;
    text-align: left;
  }

  .mobile-menu {
    display: flex;

  }

  .menu-toggle {
    display: flex;
  }

  .gnav .logo-img {
    display: inline-block;
    width: 87px;
    margin: 0;
    padding-bottom: 0px;
  }

  .nav-links {
    height: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: start;
    z-index: 100;
    width: 100%;
    padding: 94px 0 295px 41px;
    background-color: var(--white);
    gap: 41px;
    transition: all 0.3s ease;
  }

  .nav-links.show {
    display: flex;
    height: auto;
  }

  .nav-links li {
    margin-right: 0px;
    padding-bottom: 9px;

  }

  .nav-links li:nth-of-type(3) {
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav-links li a {
    color: var(--bg-dark-green);
    font-size: 24px;
    letter-spacing: .6px;
  }
}