@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf');

}

:root {
  --white: #FFFFFF;
  --txt-black: #2E2E22;
  --orange: #FF8800;
  --bg-dark-green: #354E57;
  --bg-light-green: #EEF3F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--white);
  color: var(--txt-black);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  font-family: inherit;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.cmn-container {
  width: 98%;
  margin: 0 auto;
  max-width: 1180px;
}

.default-btn {
  border: solid 1px var(--bg-dark-green);
  background-color: var(--white);
  color: var(--bg-dark-green);
  font-weight: 700;
  text-align: center;
  transition: all .1s ease-in;
}

.default-btn:hover {
  border: solid 1px transparent;
  background-color: var(--bg-dark-green);
  color: var(--white);
}

.cmn-ttl {
  font-size: 24px;
  font-weight: 700;
}

/*---------------------header------------------------*/
.gnav {
  padding: 25px 0 20px 0;
  text-align: center;
}

.gnav .logo-img {
  width: 111px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-links li {
  position: relative;
  margin-right: 51px;
  padding-bottom: 9px;
}

.nav-links li:last-of-type {
  margin-right: 0;
}

.nav-links li:nth-of-type(3) {
  margin-right: 54px;
  margin-left: 6px;
}

.nav-links li a {
  font-weight: 500;
  letter-spacing: .25px;
}

.nav-links li.active::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--orange);
  content: '';
}

/* -------------------clean product----------------*/
.clean-wrapper {
  background-color: #35736A;
  display: flex;
}

.clean-artl {
  padding: 210px 101px 206px 170px;
  line-height: 1.5;
}

.clean-artl h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.clean-artl p {
  color: #fff;
  margin: 30px 0px 60px 0px ;
}

.clean-artl a {
  color:#fff;
  border: 1px solid #fff;
  padding: 4px 40px;
  font-size: 14px;
  font-weight: 700;
}

/* ----------footer----------------- */
footer {
  background-color: #354E57;
}

.join {
  background-color: #fff;
  padding: 35px 180px;
  line-height: 1.2;
}

.join-wrapper {
  display: flex;
}

.join-wrapper h3 {
  padding-right: 70px;
  border-right: 2px solid;
  font-size: 32px;
  font-weight: 700;
  color: #354E57;
}

.join-wrapper p {
  width: 283px;
  margin: 15px 0px 0px 69px;
}

.joinsub {
  margin: 15px 0px 0px 57px;
}

.joinsub input {
  padding: 12px 41px;
}

.joinsub button {
  background-color: #FF8800;
  color: #fff;
  padding: 14px 31px;
  display: inline-block;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 90px 0px 42.5px 0px;
}

.footer-list-wrapper {
  display: flex;
  gap:100px;
}

.footer-logo-wrapper p {
  font-size: 16px;
  color: #FFF;
  margin: 30px 0px 50px 0px;
}

.footer-logo-wrapper input {
  font-size: 14px;
  border: 1px solid #fff;
  padding: 12px 72px 12px 8px;
  background-color: #354E57 ;
}

::placeholder {
  color: #fff;
}

.footer-logo-wrapper button {
  color: #fff;
  font-size: 14px;
  border: 1px solid #fff;
  padding: 12px 30px;
  background-color: #354E57;
}

.footer-list-wrapper ul {
  color: #fff;
  line-height: 1.8;
  margin-top: 88px;
}

.footer-list-wrapper ul h5 {
  margin-bottom: 9px;
  font-weight: 700;
}

.copy p {
  color: #fff;
  font-size: 16px;
  margin: 50px 0px 30px 0px;
}

.copy ul {
  display: flex;
  color: #fff;
  font-size: 16px;
  gap: 80px;
}

.copy-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
    color: #fff;
    display: flex;
    gap: 23px;
    font-size: 27px;
    margin: 50px 82px 0px 0px;
}

.copy-wrapper {
  padding-bottom: 80px;
}

.copy ul li a {
  text-decoration: underline;
}


/*Media Query
Ipad*/
@media screen and (min-width:768px) and (max-width:1180px) {}

/*SP*/
@media screen and (max-width:767.9px) {}