/* Slider */
.slick-slider {

  display: block;
  position: relative;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  display: block;
  position: relative;
  overflow: hidden;
  /* margin: 0 88px; */
  /* padding: 0 0 20px 0; */
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  /* margin: 0 30px 0 30px; */
  background-color: var(--white);
  cursor: pointer;
  border-radius: 6px;
  /* max-width: 1400px; */
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  /* height: 180px; */
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-info {
  padding: 30px 40px 40px 40px;
}

.slick-info h3 {
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: 700;
}

.slick-info p {
  line-height: 1.66;
  padding-bottom: 7px;
  color: var(--txt-grey);
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 40%;
}

.slick-prev {
  left: 0;
  background: url(/img/catogery/left.png) center/contain no-repeat;
}

.slick-next {
  right: 0;
  background: url(/img/catogery/right.png) center/contain no-repeat;
}

.slick-dots {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: fit-content;
  gap: 8px;
}

.slick-dots li button {
  width: 10px;
  font-size: 0px;
  border: 1px solid #FF8800;
  aspect-ratio: 1;
  border-radius: 100%;
}

.slick-dots .slick-active button {
  background-color: #FF8800;
}

@media screen and (min-width:768px) and (max-width:1100px) {
  .slick-list {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 2.734vw;
    padding: 0 0 3.906vw 0;
  }

  .slick-slide {
    margin: 0 0.911vw;
    max-width: 35.677vw;
  }

  .slick-slide img {
    display: block;
    height: 22.266vw;
  }

  .slick-info {
    padding: 3.516vw 5.208vw 4.427vw 5.208vw;
  }

  .slick-prev,
  .slick-next {
    top: 37%;
    width: 1.302vw;
    height: 2.604vw;
    background-size: 1.302vw 2.604vw;
  }

  .slick-prev {
    left: -0.391vw;
  }

  .slick-next {
    transform: translateX(1.042vw);
  }
}

/*SP*/
@media screen and (max-width:767.9px) {
  .slick-list {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 19.844vw;
    padding: 0 0 4.688vw 0;
  }

  .slick-slide {
    margin: 0 1.094vw;
    max-width: 51.094vw;
  }

  .slick-slide img {
    display: block;
    width: 100%;
    height: 24.063vw;
  }

  .slick-info {
    padding: 5.313vw 3.75vw 5.313vw 3.75vw;
  }

  .slick-info h3 {
    padding-bottom: 0.938vw;
  }

  .slick-info p {
    line-height: 1.6;
    padding-bottom: 1.25vw;
    font-size: 2.031vw;
  }

  .slick-prev,
  .slick-next {
    top: 41.5%;
  }
}