/*PC => Screen Size - 1400px
Ipad => Screen Size - 768px
SP => Screen Size - 640px*/
/*---------------------home page header------------------------*/
.top-news {
  background-color: var(--bg-dark-green);
}

.top-news p {
  padding: 13px 0 10px 0;
  color: var(--white);
  font-weight: 500;
  text-align: center;
}

/*---------------------home-mv------------------------*/
#home-mv {
  background: url(/img/top/img_mv_bg.png) center/cover no-repeat;
}

.home-mv {
  /*margin-bottom: 141px;*/
  padding: 130px 0 180px 0;
}

.mv-txt-blk {
  margin-left: 60px;
  max-width: 384px;

}

.home-mv strong {
  display: inline-block;
  margin-bottom: 12px;
  padding: 7px 11.5px;
  background-color: #F7F7F7;
  font-size: 12px;
}

.home-mv h1 {
  line-height: 1.18;
  padding-bottom: 18px;
  font-size: 48px;
  font-weight: 700;
}

.home-mv p {
  line-height: 1.5;
  padding-bottom: 28px;
}

.home-mv button {
  padding: 8px 39px;
  font-size: 14px;
  font-weight: 700;
}

/*---------------------most-popular------------------------*/

.mp {
  padding: 59px 0 19px 0;
}

.mp-ttl-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.mp-ttl-blk h2,
.tr-ttl-blk h2,
.br-ttl-blk h2 {
  font-size: 14px;
  font-weight: 700;
}

.mp-ttl-blk h2 a,
.tr-ttl-blk h2 a,
.br-ttl-blk h2 a {
  text-decoration: underline;
}

.mp-ttl-blk h2:first-of-type,
.tr-ttl-blk h2:first-of-type,
.br-ttl-blk h2:first-of-type {
  text-transform: uppercase;
}

.mp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.product-card {
  position: relative;
  width: 250px;
  margin-right: 60px;
  margin-bottom: 58px;
  cursor: pointer;
}

.product-card:nth-child(4n) {
  margin-right: 0;
}

.product-card strong {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 11px 0 0 11px;
  padding: 7px 11.5px;
  background-color: #F7F7F7;
  font-size: 12px;
}

.product-img {
  width: 100%;

  border: 1px solid var(--bg-dark-green);
  background-color: var(--white);
}

.product-img img {
  width: 100%;
  height: 346px;
}

.product-card h3,
.acen-card h3 {
  padding: 13px 0 5px 0;
  font-size: 14px;
  font-weight: 700;
}

.product-card p,
.acen-card p {
  padding-bottom: 11px;
  font-size: 12px;
}

.product-card .price,
.acen-card .price {
  padding: 0 0 13.5px 0;
  font-size: 12px;
  font-weight: 500;
}

/*discounted product */
.product-card:nth-child(4) .price {
  color: #A67744;
}

.product-card:nth-child(4) .price span {
  margin-left: 3px;
  color: var(--txt-black);
  text-decoration: line-through;
}

.product-card button,
.acen-card button {
  width: 100%;
  padding: 6px 0 11px 0;
  text-align: center;
}

.product-card button span,
.acen-card button span {
  position: relative;
  padding-right: 12.6px;
  padding-left: 18.6px;
  color: var(--txt-black);
  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;
}

.product-card button span::before,
.acen-card button span::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10.5px;
  height: 10px;
  background: url(/img/top/img_shopping_cart.svg) center/contain no-repeat;
  content: '';
  transform: translateY(-50%);
}

.product-card button:hover span {
  color: var(--white);
}

.product-card button:hover span::before {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(103%) contrast(103%);
}

/*---------------------top-rated------------------------*/
#tr {
  background-color: var(--bg-light-green);
}

.tr {
  padding: 82px 0 40px 0;
}

.tr-ttl-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.tr-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

/*---------------------Left and Right------------------------*/
.left-right .home-txt-side {
  background-color: #D1B0A8;
}

/*---------------------best-recommended------------------------*/
#br {
  background-color: #F7F7F7;
}

.br {
  padding: 84px 0 20px 0;
}

.br-ttl-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.br-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

/*---------------------ingredients------------------------*/
.ingredients {
  padding: 85px 0 30px 0;
  text-align: center;
}

.ingre-ttl-blk {
  color: var(--bg-dark-green);
}

.ingre-ttl-blk h2 {
  padding-bottom: 14px;
  font-size: 28px;
  font-weight: 700;
}

.ingre-ttl-blk p {
  padding-bottom: 53px;
}

.ingre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.ingre-card {
  margin-right: 70px;
  margin-bottom: 45px;
  cursor: pointer;
}

.ingre-card:nth-child(3n) {
  margin-right: 0;
}

.ingre-img {
  width: 247px;
  height: 252px;
  margin-bottom: 32px;
}

.ingre-img img {
  width: 100%;
  height: 100%;
}

.ingre-card h3 {
  margin-bottom: 11px;
  color: var(--bg-dark-green);
  font-size: 14px;
  font-weight: 700;
}

.ingre-card p {
  position: relative;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 7px;
  font-size: 12px;
  font-weight: 400;
}

.ingre-card p::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  content: '';
}

.ingre-card:hover p::after {
  background-color: var(--orange);
}

/*---------------------services banner------------------------*/
#services {
  background-color: var(--bg-light-green);
}

.services {
  padding: 60px 0 55px 0;
}

.services-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--bg-dark-green);

}

.services-list li {
  text-align-last: center;

}

.services-list li:first-of-type {
  margin-right: 110px;
  max-width: 148px;
}

.services-list li:nth-of-type(2) {
  /*margin-left: 115px;*/
  margin-right: 120px;
  max-width: 148px;

}

.services-list li:last-of-type {
  margin-right: 0;
  max-width: 68px;
}

.services-list li img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.services-list li h2 {
  line-height: 1.18;
  padding-bottom: 17px;
}

.services-list a {
  padding-bottom: 10px;
  font-size: 12px;
  text-decoration: underline;
}

/*---------------------products main visual------------------------*/
#p-mv {
  background-color: var(--bg-light-green);
}

.p-mv {
  padding: 80px 0 1px 0;
}

.p-mv-blk {
  display: flex;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  padding-bottom: 75px;
}

.mv-lt {
  position: relative;
  width: 569px;
  overflow: hidden;
}

.single-img1 {
  background-color: #CDDFD6;
}

.single-img2 {
  background-color: #F5E3DF;
}

.single-img3 {
  background-color: #C3CFD4;
}

.mv-rt {
  width: 50%;
  padding: 0 63px 0 60px;
}

.mv-rt strong {
  display: inline-block;
  padding: 7px 10px;
  background-color: #F7F7F7;
  font-size: 12px;
  font-weight: 700;

}

.mv-rt h2 {
  line-height: 1.18;
  padding-top: 7px;
  padding-bottom: 22px;
  font-size: 48px;
  font-weight: 700;
}

.review-blk {
  display: flex;
  align-items: center;
  padding-bottom: 20.5px;
  gap: 14.3px;
}

.review-blk span {
  font-size: 10px;
  font-weight: 400;
  text-decoration: underline;
}

.p-price {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  color: #DE3B35;
  gap: 16px;
}

.p-price span {
  color: var(--txt-black);
  text-decoration: line-through;
}

.mv-rt h4 {
  padding-bottom: 11px;
  font-size: 14px;
  font-weight: 700;
}

.mv-rt .p-info {
  line-height: 1.33;
  padding-bottom: 30px;
  font-size: 12px;
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.qty-btn {
  display: flex;
  align-items: center;
  border: 1px solid var(--txt-black);
}

.qty-btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 32.5px;
  font-weight: 700;
}

.qty-btn div:first-child,
.qty-btn div:nth-child(2) {
  border-right: 1px solid var(--txt-black);
}

.cart-btns button {
  padding: 9px 39px;
  text-align: center;
}

.cart-btns button span {
  position: relative;
  padding-left: 33px;
  color: var(--txt-black);
  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;
}

.cart-btns button span::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 11.8px;
  height: 10px;
  background: url(/img/top/img_shopping_cart.svg) center/contain no-repeat;
  content: '';
}

.cart-btns button:hover span {
  color: var(--white);
}

.cart-btns button:hover span::before {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(103%) contrast(103%);
}

.accordion {
  width: 100%;
}

.accordion-item {

  margin-bottom: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 11px 15px 7px 20px;
  background-color: var(--white);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.accordion-content {
  display: none;
  line-height: 1.33;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
}

.toggle {
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
}

/*---------------------related products------------------------*/

.related-blk h2 {
  padding-bottom: 52px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.related-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.related-list .product-card {
  margin-bottom: 53px;
}

/*---------------------products bottom section------------------------*/
#p-btm {
  background-color: #F6F6F8;
}

.p-btm {
  padding: 49px 0 48px 0;
  text-align: center;
}

.p-btm h2 {
  padding-bottom: 16px;
}

.p-btm .ingre-ttl-blk p {
  padding-bottom: 63px;
}

.p-btm .ingre-list li .ingre-img {
  width: 300px;
  height: 230px;
  margin-bottom: 32px;
}

.p-btm .ingre-list .ingre-card {
  margin-right: 26px;
  margin-bottom: 0;
  margin-left: 26px;
}

/*---------------------Left And Right------------------------*/
.product-right-txt .product-txt-side {
  background-color: #AA96B5;
}

/*---------------------sooth stories------------------------*/
.stories {
  padding: 85px 0 47px 0;
  text-align: center;
}

.stories h2 {
  padding-bottom: 27px;
  color: var(--bg-dark-green);
  font-size: 48px;
  font-weight: 700;
}

.tab-blk {
  margin: 0 auto;
  max-width: 499px;
}

.tab-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 41px;
}

.tab-btns li {
  font-size: 14px;
  cursor: pointer;
}

.tab-btns li.active {
  color: var(--orange);
}

.tab-content-blk {
  display: flex;

  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 20px;
}

.tab-content-blk .tab-img {
  max-width: 154px;
}

.tab-blk p {
  line-height: 1.33;
  font-size: 12px;
  text-align: left;
}

/*---------------------About Us Page------------------------*/
/*covid section*/
.about-bdy .sp-mobile{
  display: none;
}
.about-bdy .sp{
  display: none;
}
.about-bdy .pc{
  display: block;
}
.covid-update-sec {
  padding: 50px 0 80px;
}

.covid-update-sec .cmn-container {
  display: flex;
}

.covid-update-sec .covid-sec-lft {
  margin-top: 125px;
  margin-left: 80px;
}

.covid-sec-lft span {
  display: inline-block;
  margin-bottom: 15px;
  padding: 9px 15px 8px;
  background-color: #DE5858;
  color: var(--white);
  font-size: 12px;
}

.covid-sec-lft h3 {
  margin-bottom: 21px;
  color: var(--bg-dark-green);
  font-size: 48px;
  font-weight: 700;
}

.covid-sec-lft p {
  line-height: 1.5;
  color: var(--bg-dark-green);
  font-size: 16px;
}

.covid-update-sec .covid-sec-rgt img {
  width: 647px;
  height: 485.5px;
  margin-left: 62px;
}

/*our mission*/
.mission-sec {
  padding: 155px 0 196px;
  background: url("../img/about-us/our_mission.png") no-repeat center/cover;
  max-width: 1400px;
}

.mission-sec .mission-txt {
  margin-left: 60px;
}

.mission-sec h3 {
  margin-bottom: 20px;
  color: var(--txt-black);
  font-size: 48px;
  font-weight: 700;
}

.mission-sec p {
  line-height: 1.6;
  color: var(--txt-black);
  font-size: 16px;
}

/*middle-txt*/
.middle-txt {
  padding: 46px 0 39px;
  border: 1px solid var(--bg-dark-green);
  background-color: var(--white);
}

.middle-txt .cmn-container {
  text-align: center;
}

.middle-txt .mid-title {
  margin-bottom: 10px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
}

.middle-txt .mid-para {
  line-height: 1.1;
  font-size: 16px;
}

/*Hand Section*/
.about-right-txt .hand-txt-side {
  background-color: #EEF3F4;
  color: var(--txt-black);
}

.about-right-txt .hand-txt-side h3,
.about-right-txt .hand-txt-side p,
.about-right-txt .hand-txt-side button {
  color: var(--txt-black);
}

.left-right .hand-txt-side button {
  border: 1px solid var(--txt-black);
}

.left-right .hand-txt-side button:hover {
  border-color: transparent;
}

/*Pink Hand Section*/
.about-left-txt .left-side-txt {
  background-color: #FBDEE1;
}

.about-left-txt .txt-side-title,
.about-left-txt .txt-side-para,
.about-left-txt .default-btn {
  color: var(--txt-black);
}

.about-left-txt .default-btn {
  border: 1px solid var(--txt-black);
}

.about-left-txt .default-btn:hover {
  border-color: transparent;
}

/*Instagram Section*/
.ig-sec {
  padding: 80px 0;
}

.ig-sec .cmn-container {
  text-align: center;
}

.ig-sec .ig-acc-logo {
  margin-bottom: 52px;
}

.ig-acc-logo img {
  margin-bottom: 9px;
}

.ig-sec .ig-photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ig-photo-gallery li {
  margin-right: 24px;
  margin-bottom: 20px;
}

.ig-photo-gallery li:nth-child(4n) {
  margin-right: 0;
}

/*---------------------Feature Section-----------------------*/
.feature-sec {
  padding-bottom: 80px;
}

.feature-sec .first-feature {
  margin-bottom: 60px;
}

.feature-sec .cmn-container {
  display: flex;
  align-items: center;
}

.feature-sec .feature-img-side {
  width: 50%;
  margin-right: 98px;
}

.feature-sec .feature-img-side img {
  width: 100%;
  height: 377px;
  margin-right: 9px;
}

.feature-sec .feature-txt-side {
  width: 50%;
}

.feature-sec .feature-txt-side .feature-txt-blk {
  margin-top: -10px;
}

.feature-sec .feature-txt-side strong {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.feature-sec .feature-txt-side h3 {
  line-height: 1.19;
  margin-bottom: 28px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
}

.feature-sec .feature-txt-side p {
  line-height: 1.5;
  font-size: 16px;
}

.feature-sec .feature-txt-lft {
  margin-left: 80px;
}

.feature-sec .feature-right-img {
  margin-right: 0;
  margin-left: 57px;
}

/* ---------------------category--------------------- */
.product-category {
  display: flex;
}

.product-wrapper {
  padding: 47px 0px 56px 0px;
}

.slider img {
  width: 100%;
}


.slider-wrapper {
  max-height: 497px;
}

.arr {
  color: #2f0909;
  /* position: relative; */
}

.slider-txt h2 {
  margin-bottom: 18px;
  color: #2E2E22;
  font-size: 48px;
  font-weight: 700;
}

.slider {
  position: relative;
}

.slider-txt {
  position: absolute;
  top: 145px;
  right: 788px;
  bottom: 142px;
  left: 170px;
  line-height: 1.3;
  max-width: 452px;
}

.solution {
  margin: 0 auto;
  padding: 42px 0px 39px 0px;
  border: 1px solid;
  color: #354E57;
  text-align: center;
}

.solution h3 {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 700;
}

.product-nav ul li {
  padding: 20px 51px;
  border: 1px solid;
  font-size: 18px;
  border-radius: 50px;
}

.product-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding: 0px 47px 0px 90px;
  gap: 68px;
}

.product-nav ul li:hover,
.visited {
  background-color: #D1B0A8;
  color: #fff;
}

.category-list {
  width: 20%;
  padding: 20px 0px;
}

.category-list p {
  margin-bottom: 30px;
  color: #2E2E22;
  font-weight: 700;
}

.category-list ul li {
  margin-bottom: 30px;
  list-style-type: disc;
}

.category-list ul {
  line-height: 1.2;
  margin-bottom: 95px;
  padding-left: 25px;
  font-size: 14px;
}

.category-list ul li:last-child {
  margin: 0px;
}

.acen-card {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}

.acen-card-wrapper {
  display: flex;
  gap: 23px;
}

.acen-card-wrapper {
  margin-left: 19px;
}

.thr-acen,
.fou-acen {
  display: grid;
  margin-left: 17px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.thr-acen {
  margin-top: 20px;
  border-bottom: 2px solid #707070;
}

.fou-acen {
  margin-top: 56px;
  border-bottom: 2px solid #707070;
}

/* -------sun-cream------------- */
.cream-wrapper {
  padding: 52px 0px 98px 0px;
}

.cream-header h3 {
  margin-bottom: 23px;
  margin-left: 40px;
  color: #354E57;
  font-size: 48px;
  font-weight: 700;
}

.cream-header p {
  margin-bottom: 50px;
  padding-left: 43px;
}

.cream-header {
  text-align: center;
}

.cream-card {
  width: 89%;
}

.cream-card-wrapper {
  display: grid;
  padding-left: 40px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 61px;
}

.cream-card img {
  width: 100%;
  margin-bottom: 20px;
}

.cream-ttl {
  font-size: 14px;
  font-weight: 700;
}

.cream-txt {
  margin: 14px 0px 20px 0px;
  font-size: 12px;
}

.cream-card a {
  color: #2E2E22;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}


/*---------------------Contact Us Page------------------------*/
/*.contact-us-section {
  padding: 53px 0 50px;
  background-color: #F7F7F7;
}

.contact-us-section .contact-us-intro {
  margin-bottom: 33px;
}

.contact-us-section .contact-us-intro .contact-us-title {
  margin-bottom: 30px;
  color: var(--txt-black);
  font-size: 48px;
  font-weight: 700;
}

.contact-us-section .contact-us-intro p {
  line-height: 1.6;
  margin-bottom: 25px;
  color: var(--txt-black);
  font-size: 16px;
}

.contact-us-section .contact-us-intro .contact-us-list {
  margin-bottom: 25px;
}

.contact-us-section .contact-us-intro .contact-us-list li {
  margin-bottom: 10px;
  margin-left: 13px;
  color: var(--bg-dark-green);
  font-weight: 700;
  list-style-type: disc;
}

.contact-us-intro .contact-us-list li::marker {
  font-size: 13px;
  vertical-align: middle;
}

.contact-us-section .contact-us-intro .contact-us-list span {
  color: var(--orange);
}

.contact-us-boxes {
  display: flex;
  justify-content: center;
}

.contact-us-boxes .contact-box {
  width: 516px;
}

.contact-us-boxes .contact-first-box {
  margin-right: 40px;
  padding: 35px 280px 13px 36px;
  background-color: var(--white);
}

.contact-us-boxes .contact-first-box .contact-label {
  margin-bottom: 31px;
}

.contact-us-boxes .contact-first-box .contact-label a {
  text-decoration: underline;
}

.contact-first-box .contact-label .contact-info-ttl {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}

.contact-us-boxes .contact-second-box {
  padding: 37px 0 38px 47px;
  background-color: var(--white);
}

.contact-second-box .contact-second-label {
  margin-bottom: 29px;
  font-weight: 700;
}

.contact-second-box .contact-second-address {
  line-height: 1.5;
  margin-bottom: 28px;
  font-size: 16px;
}

.contact-second-box .contact-ph-no .phone {
  cursor: none;
  pointer-events: none;
}*/

/*---------------------Contact Us Page------------------------*/
.contact-us-section{
  padding:53px 0 50px;
  background-color: #F7F7F7;
}
.contact-us-section .contact-us-intro{
  margin-bottom: 33px;
}
.contact-us-section .contact-us-intro .contact-us-title{
  font-size: 48px;
  font-weight: 700;
  color:var(--txt-black);
  margin-bottom: 30px;
}
.contact-us-section .contact-us-intro p{
  color: var(--txt-black);
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}
.contact-us-section .contact-us-intro .contact-us-list{
  margin-bottom: 25px;
}
.contact-us-section .contact-us-intro .contact-us-list li{
  list-style-type: disc;
  margin-left: 13px;
  margin-bottom: 10px;
  color: var(--bg-dark-green);
  font-weight: 700;
}
.contact-us-intro .contact-us-list li::marker{
  font-size: 13px;
  vertical-align: middle;
}
.contact-us-section .contact-us-intro .contact-us-list span{
  color: var(--orange);
}
.contact-us-boxes{
  display: flex;
  justify-content:center;
}
.contact-us-boxes .contact-box{
  width: 516px;
}
.contact-us-boxes .contact-first-box{
  padding: 37px 280px 13px 39px;
  background-color: var(--white);
  margin-right: 40px;
}
.contact-us-boxes .contact-first-box .contact-label{
  margin-bottom: 31px;
}
.contact-us-boxes .contact-first-box .contact-label a{
  text-decoration: underline;
}
.contact-first-box .contact-label .contact-info-ttl{
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}
.contact-us-boxes .contact-second-box{
  padding: 37px 0 38px 47px;
  background-color: var(--white);
}
.contact-second-box .contact-second-label{
  font-weight: 700;
  margin-bottom: 29px;
}
.contact-second-box .contact-second-address{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 28px;
}
.contact-second-box .contact-ph-no .phone{
  cursor: none;
  pointer-events: none;
}
/*Media Query
Ipad*/
@media screen and (min-width:768px) and (max-width:1180px) {

  /*---------------------home-mv------------------------*/
  .home-mv {

    padding: 5.208vw 0 33.594vw 0;
  }

  .mv-txt-blk {
    margin-left: 0;
  }
  /*---------------------products main visual------------------------*/
  .p-mv {
    padding: 6.51vw 0 1.30vw 0;
  }

  .p-mv-blk {
    display: block;
    padding-bottom: 6.901vw;
  }

  .mv-lt {
    margin: 0 auto;
    margin-bottom: 3.646vw;
  }

  .mv-rt {
    width: 100%;
    padding: 0 8.203vw 0 8.333vw;
  }

  .mv-rt h2 {
    max-width: 60.026vw;
  }

  .review-blk {
    padding-bottom: 2.799vw;
    gap: 1.862vw;
  }

  .cart-btns button {
    padding: 1.237vw 11.458vw;
    text-align: center;
  }

  /*---------------------related products------------------------*/
  .related-blk h2 {
    padding-bottom: 4.427vw;
  }

  .related-list {
    justify-content: center;
    column-gap: 7.813vw;
  }

  .related-list .product-card {
    margin-right: 0;
    margin-bottom: 4.948vw;
  }

  /*---------------------products bottom section------------------------*/
  .p-btm {
    padding: 6.901vw 0 8.2vw 0;
  }

  .p-btm .ingre-ttl-blk {
    padding-right: 2.995vw;
  }

  .p-btm .ingre-ttl-blk p {
    padding-right: 0.651vw;
  }

  .p-btm .ingre-list {
    justify-content: space-between;
  }

  .p-btm .ingre-list li .ingre-img {
    width: 26.042vw;
    height: 26.042vw;
    margin-bottom: 0.13vw;
  }

  .p-btm .ingre-list .ingre-card {
    margin-right: 0vw;
    margin-bottom: 0;
    margin-left: 0vw;
  }

  /*---------------------prt-banner------------------------*/
  .product-right-txt {
    display: block;
  }

  .product-right-txt .txt-side {
    width: 100%;
    padding: 12.63vw 0 13.021vw 0;
  }

  .product-right-txt .txt-side .txt-side-blk {
    margin-left: 10.417vw;
  }

  .product-right-txt .txt-side .txt-side-blk h3 {
    max-width: 397px;
  }
  .product-right-txt .txt-side .txt-side-blk .txt-side-para br {
    display: inline-block;
  }
  .product-right-txt .txt-side .txt-side-blk button {
    padding: 1.042vw 5.208vw;
  }

  .product-right-txt .img-side {
    width: 100%;
    height: 64.453vw;
  }
  .product-right-txt .img-side img{
    height: 100%;
  }

  /*---------------------sooth-stories section------------------------*/
  .stories {
    padding: 7.292vw 0 6.12vw 0;
  }

  /*end of products page */

  /*.acen-card h3 {
    padding: 1vw 0 0.651vw 0;
    font-size: 1.822vw;
    font-weight: 700;
  }*/

  /*.acen-card p {
    padding-bottom: 1.432vw;
    font-size: 1.563vw;
  }

  .acen-card .price {
    padding: 0 0 1.758vw 0;
    font-size: 1.563vw;
    font-weight: 500;
  }*/




  /*.acen-card button {
    width: 100%;
    padding: 0.911vw 0 1.432vw 0;
    text-align: center;
  }*/

  /*.acen-card button span {
    position: relative;
    padding-right: 1.641vw;
    padding-left: 2.421vw;
    color: var(--txt-black);
    font-size: 1.563vw;
    font-weight: 500;
    text-wrap: nowrap;
  }*/

  /*.acen-card button span::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.367vw;
    height: 1.301vw;
    background: url(/img/top/img_shopping_cart.svg) center/contain no-repeat;
    content: '';
  }*/


  /* ---------------------category--------------------- */
  .product-category {
    display: block;
  }

  .product-wrapper {
    padding: 6.12vw 0vw 7.292vw 0vw;
  }

  .slider img {
    width: 100%;
  }

  .slider-wrapper {
    z-index: 1;
    height: 64.583vw;
  }

  #slider {
    height: 57.714vw;
  }

  .arr {
    color: #2f0909;
    /* position: relative; */
  }

  .slider-txt h2 {
    margin-bottom: 2.343vw;
    color: #2E2E22;
    font-size: 6.25vw;
    font-weight: 700;
  }

  .slider {
    position: relative;
  }

  .slider-txt {
    position: absolute;
    top: 18.88vw;
    right: 102.605vw;
    bottom: 18.49vw;
    left: 22.136vw;
    line-height: 1.3;
    max-width: 58.854vw;
  }

  .solution {
    margin: 0 auto;
    padding: 5.468vw 0vw 5.078vw 0vw;
    border: 0.131vw solid;
    color: #354E57;
    text-align: center;
  }

  .solution h3 {
    margin-bottom: 1.563vw;
    font-size: 3.646vw;
    font-weight: 700;
  }

  .product-nav ul li {
    padding: 2.604vw 5.641vw;
    border: 0.131vw solid;
    font-size: 2.343vw;
    border-radius: 6.51vw;
  }

  .product-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 5.209vw;
    padding: 0vw 6.12vw 0vw 6.719vw;
    gap: 9.855vw;
  }

  .product-nav ul li:hover,
  .visited {
    background-color: #D1B0A8;
    color: #fff;
  }

  .category-list {
    display: flex;
    width: 71%;
    margin-left: 13.151vw;
    padding: 0vw 0vw;
    gap: 11.328vw;
  }

  .category-list p {
    margin-bottom: 3.906vw;
  }

  .category-list ul li {
    margin-bottom: 3.906vw;
  }

  .category-list ul {
    margin-bottom: 12.37vw;
    padding-left: 3.256vw;
    font-size: 1.822vw;
  }

  .acen-card {
    margin-bottom: 5.209vw;
  }

  .acen-list-wrapper {
    margin-top: -5.469vw;
    margin-left: 1.693vw;
  }

  .acen-card-wrapper {
    display: inline-block;
    gap: 2.995vw;
  }

  .acen-card-wrapper {
    margin-left: 2.474vw;
  }

  .sec-acen {
    display: flex;
    justify-content: space-between;
  }

  .thr-acen,
  .fou-acen {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 2.214vw;
    gap: 3.256vw;
  }

  .thr-acen {
    margin-top: 0.604vw;
    border-bottom: none;
    row-gap: 5.208vw;
  }

  .fou-acen {
    margin-top: 0vw;
    row-gap: 0.391vw;
    border-bottom: 0.26vw solid #707070;
  }

  .blk {
    display: none;
  }

  /* -------sun-cream------------- */
  .cream-wrapper {
    padding: 6.771vw 0vw 7.76vw 0vw;
  }

  .cream-header h3 {
    margin-bottom: 2.995vw;
    margin-left: 0vw;
    color: #354E57;
    font-size: 6.25vw;
    font-weight: 700;
  }

  .cream-header p {
    margin-bottom: 5.51vw;
    padding-left: 0vw;
  }

  .cream-header {
    text-align: center;
  }

  .cream-card {
    width: 89%;
  }

  .cream-card-wrapper {
    width: 93%;
    padding-left: 10.209vw;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5.942vw;
  }

  .cream-card img {
    width: 100%;
    margin-bottom: 2.604vw;
  }

  .cream-ttl {
    font-size: 1.822vw;
    font-weight: 700;
  }

  .cream-txt {
    margin: 1.822vw 0vw 2.604vw 0vw;
    font-size: 1.563vw;
  }

  .cream-card a {
    color: #2E2E22;
    font-size: 1.822vw;
    font-weight: 700;
    text-decoration: underline;
  }

  /*---------------------About Us Page------------------------*/
  .about-bdy .sp-mobile{
    display: none;
  }
  .about-bdy .sp{
    display: block;
  }
  .about-bdy .pc{
    display: none;
  }
  
  /*covid section*/
  .covid-update-sec {
    padding: 20px 0 50px;
  }

  .covid-update-sec .cmn-container {
    flex-direction: column;
  }

  .covid-update-sec .covid-sec-lft {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;
  }

  .covid-sec-lft span {
    margin-bottom: 15px;
    padding: 7px 15px;
    font-size: 12px;
  }

  .covid-sec-lft h3 {
    margin-bottom: 22px;
    font-size: 48px;
  }

  .covid-sec-lft p {
    line-height: 1.5;
    font-size: 16px;
  }

  .covid-update-sec .covid-sec-rgt img {
    width: 100%;
    height: 513.43px;
    margin-left: 0;
  }

  /*our mission*/
  .mission-sec {
    padding: 73px 0 140px;
    background: url("../img/about-us/mission_cover.jpg") no-repeat center/cover;
  }

  .mission-sec .mission-txt {
    margin-left: 0;
  }

  .mission-sec h3 {
    line-height: 1.15;
    margin-bottom: 20px;
    font-size: 48px;
  }

  .mission-sec p {
    line-height: 1.6;
    font-size: 16px;
  }

  /*middle-txt*/
  .middle-txt {
    padding: 43px 0 39px;
    border: 1px solid var(--bg-dark-green);
  }

  .middle-txt .mid-title {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .middle-txt .mid-para {
    line-height: 1.1;
    font-size: 16px;
  }

  /*Hand Section*/

  .left-right .hand-txt-side button {
    border: 1px solid var(--txt-black);
  }

  /*Pink Hand Section*/

  .about-left-txt .default-btn {
    border: 1px solid var(--txt-black);
  }

  /*Instagram Section*/
  .ig-sec {
    padding: 50px 0 0;
  }

  .ig-sec .cmn-container {
    text-align: center;
  }

  .ig-sec .ig-acc-logo {
    margin-bottom: 40px;
  }

  .ig-acc-logo img {
    margin-bottom: 9px;
  }

  .ig-photo-gallery li {
    margin-right: 57px;
    margin-bottom: 60px;
  }

  .ig-photo-gallery li img {
    width: 314px;
    height: 255px;
  }

  .ig-photo-gallery li:nth-child(2n) {
    margin-right: 0;
  }

  /*---------------------Feature Section-----------------------*/
  .feature-sec {
    padding-bottom: 80px;
  }

  .feature-sec .first-feature {
    margin-bottom: 85px;
  }

  .feature-sec .cmn-container {
    flex-direction: column;
  }

  .feature-sec .second-feature .feature-txt-side {
    order: 2;
  }

  .feature-sec .second-feature .feature-img-side {
    order: 1;
  }

  .feature-sec .feature-img-side {
    width: 100%;
    margin-right: 0;
  }

  .feature-sec .feature-img-side img {
    width: 100%;
    height: 463px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .feature-sec .feature-txt-side {
    width: 100%;
  }

  .feature-sec .feature-txt-side .feature-txt-blk {
    margin-top: -10px;
  }

  .feature-sec .feature-txt-side strong {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .feature-sec .feature-txt-side h3 {
    line-height: 1.19;
    margin-bottom: 28px;
    color: var(--bg-dark-green);
    font-size: 28px;
    font-weight: 700;
  }

  .feature-sec .feature-txt-side p {
    line-height: 1.5;
    font-size: 16px;
  }

  .feature-sec .feature-txt-lft {
    margin-left: 0;
  }

  .feature-sec .feature-right-img {
    margin-right: 0;
    margin-left: 0;
  }

  .second-feature .feature-txt-lft {
    margin-left: 7px;
  }

  /*---------------------Contact Us Page------------------------*/
  .contact-us-section {
    padding: 53px 0 50px;
  }

  .contact-us-section .contact-us-intro {
    margin-bottom: 45px;
  }

  .contact-us-section .contact-us-intro .contact-us-title {
    margin-bottom: 30px;
    font-size: 48px;
  }

  .contact-us-section .contact-us-intro p {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .contact-us-section .contact-us-intro .contact-us-list {
    margin-bottom: 25px;
  }

  .contact-us-section .contact-us-intro .contact-us-list li {
    margin-bottom: 10px;
    margin-left: 13px;
  }

  .contact-us-intro .contact-us-list li::marker {
    font-size: 13px;
  }

  .contact-us-boxes {
    flex-direction: column;
    align-items: center;
  }

  .contact-us-boxes .contact-box {
    width: 512px;
  }

  .contact-us-boxes .contact-first-box {
    margin-right: 0;
    margin-bottom: 40px;
    padding: 35px 280px 13px 38px;
  }

  .contact-us-boxes .contact-first-box .contact-label {
    margin-bottom: 31px;
  }

  .contact-us-boxes .contact-first-box .contact-label a {
    text-decoration: underline;
  }

  .contact-first-box .contact-label .contact-info-ttl {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
  }

  .contact-us-boxes .contact-second-box {
    padding: 33px 0 38px 45px;
    background-color: var(--white);
  }

  .contact-second-box .contact-second-label {
    margin-bottom: 29px;
    font-weight: 700;
  }

  .contact-second-box .contact-second-address {
    line-height: 1.5;
    margin-bottom: 28px;
    font-size: 16px;
  }

  .contact-second-box .contact-ph-no .phone {
    cursor: pointer;
    pointer-events: auto;
  }


}

/*SP*/
@media screen and (max-width:767.9px) {

  /*---------------------home page header------------------------*/

  .top-news p {
    padding: 2.344vw 0 2.969vw 0;
    color: var(--white);
    font-weight: 500;
    text-align: center;
  }

  /*---------------------home-mv------------------------*/
  .home-mv {

    padding: 77.188vw 0 9.375vw 0;
  }

  .mv-txt-blk {
    margin-left: 9.688vw;
    max-width: 70.625vw;
  }
  /*---------------------products main visual------------------------*/
  .p-mv {
    padding: 4.688vw 0 3.906vw 0;
  }

  .p-mv-blk {
    display: block;
    padding-bottom: 14.688vw;
  }

  .mv-lt {
    margin: 0 auto;
    margin-bottom: 4.375vw;
  }

  .mv-rt {
    width: 100%;
    padding: 0 3.594vw 0 3.594vw;
  }

  .mv-rt h2 {
    max-width: 72.031vw;
  }

  .review-blk {
    padding-bottom: 3.359vw;
    gap: 2.234vw;
  }

  .cart-btns button {
    padding: 1.484vw 13.75vw;
    text-align: center;
  }

  /*---------------------related products------------------------*/
  .related-blk h2 {
    padding-bottom: 5.313vw;
  }

  .related-list {
    justify-content: center;
  }

  .related-list .product-card {
    margin-bottom: 5.938vw;
  }

  .related-list .product-card:nth-child(2n) {
    margin-right: 0;
  }

  .related-list .product-card:nth-child(3) {
    margin-bottom: 0;
  }

  .related-list .product-card:nth-child(4) {
    margin-bottom: 0;
  }

  /*---------------------products bottom section------------------------*/
  .p-btm {
    padding-bottom: 10.156vw;
  }

  .p-btm .ingre-ttl-blk h2 {
    padding-bottom: 2.188vw;
  }

  .p-btm .ingre-list {
    gap: 11.719vw;
  }

  .p-btm .ingre-list li .ingre-img {
    width: 46.875vw;
    height: 35.938vw;
    margin-bottom: 1.328vw;
  }

  .p-btm .ingre-list li h3 {
    margin-bottom: 2.031vw;
  }

  /*---------------------prt-banner------------------------*/
  .product-right-txt {
    display: block;
  }

  .product-right-txt .txt-side {
    width: 100%;
    padding: 14.688vw 0 15.938vw 0;
  }

  .product-right-txt .txt-side .txt-side-blk {
    margin-left: 12.5vw;
  }

  .product-right-txt .txt-side .txt-side-blk button {
    padding: 1.25vw 6.25vw;
  }

  .product-right-txt .img-side {
    width: 100%;
    height: 77.344vw;
  }

  /*---------------------sooth-stories section------------------------*/
  .stories {
    padding: 7.188vw 0 7.344vw 0;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  /*---------------------About Us Page------------------------*/
  /*covid section*/
  .about-bdy .sp-mobile{
    display:block;
  }
  .about-bdy .sp{
    display: none;
  }
  .about-bdy .pc{
    display: none;
  }

  .covid-update-sec {
    padding: 30px 0 60px;
  }

  .covid-update-sec .cmn-container {
    flex-direction: column;
  }

  .covid-update-sec .covid-sec-lft {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 2px;
  }

  .covid-sec-lft span {
    margin-bottom: 15px;
    padding: 7px 15px;
    font-size: 12px;
  }

  .covid-sec-lft h3 {
    margin-bottom: 24px;
    font-size: 48px;
  }

  .covid-sec-lft p {
    line-height: 1.5;
    margin-bottom: -10px;
    font-size: 16px;
  }

  .covid-update-sec .covid-sec-rgt img {
    width: 100%;
    height: 449.5px;
    margin-left: 0;
  }

  /*our mission*/
  .mission-sec {
    padding: 80px 0 155px;
    background: url("../img/about-us/mission_cover.jpg") no-repeat center/cover;
  }

  .mission-sec .mission-txt {
    margin-left: 20px;
  }

  .mission-sec h3 {
    line-height: 1.15;
    margin-bottom: 20px;
    font-size: 48px;
  }

  .mission-sec p {
    line-height: 1.6;
    color: var(--txt-black);
    font-size: 16px;
  }

  /*middle-txt*/
  .middle-txt {
    padding: 44px 0 39px;
    border: 1px solid var(--bg-dark-green);
  }

  .middle-txt .mid-title {
    margin-bottom: 10px;
    font-size: 28px;
  }

  .middle-txt .mid-para {
    line-height: 1.2;
    font-size: 16px;
  }

  /*Hand Section*/

  .left-right .hand-txt-side button {
    border: 1px solid var(--txt-black);
  }

  /*Pink Hand Section*/

  .about-left-txt .default-btn {
    border: 1px solid var(--txt-black);
  }

  /*Instagram Section*/
  .ig-sec {
    padding: 60px 0 36px;
  }

  .ig-sec .cmn-container {
    text-align: center;
  }

  .ig-sec .ig-acc-logo {
    margin-bottom: 40px;
  }

  .ig-acc-logo img {
    margin-bottom: 9px;
  }

  .ig-photo-gallery li {
    margin-right: 24px;
    margin-bottom: 24px;
  }

  .ig-photo-gallery li img {
    width: 255px;
    height: 255px;
  }

  .ig-photo-gallery li:nth-child(2n) {
    margin-right: 0;
  }

  /*---------------------Feature Section-----------------------*/
.feature-sec {
  padding: 0 25px 80px;
}

.feature-sec .first-feature {
  margin-bottom: 80px;
}

.feature-sec .cmn-container {
  flex-direction: column;
}

.feature-sec .second-feature .feature-txt-side {
  order: 2;
}

.feature-sec .second-feature .feature-img-side {
  order: 1;
}
.feature-sec .feature-img-side {
  width: 100%;
  margin-right:0;
}

.feature-sec .feature-img-side img {
  width: 100%;
  height: 379px;
  margin-right:0;
  margin-bottom: 40px;
}

.feature-sec .feature-txt-side {
  width: 100%;
}

.feature-sec .feature-txt-side .feature-txt-blk {
  margin-top: -10px;
}

.feature-sec .feature-txt-side strong {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.feature-sec .feature-txt-side h3 {
  line-height: 1.19;
  margin-bottom: 28px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
}

.feature-sec .feature-txt-side p {
  line-height: 1.5;
  font-size: 16px;
}

.feature-sec .feature-txt-lft {
  margin-left:0;
}

.feature-sec .feature-right-img {
  margin-right: 0;
  margin-left:0;
}
.second-feature .feature-txt-lft{
  margin-left: 7px;
}
/*---------------------Contact Us Page------------------------*/
.contact-us-section{
  padding:42px 0 50px;
}
.contact-us-section .contact-us-intro{
  margin-bottom: 35px;
}
.contact-us-section .contact-us-intro .contact-us-title{
  font-size: 48px;
  margin-bottom: 34px;
}
.contact-us-section .contact-us-intro p{
  font-size: 16px;
  margin-bottom: 25px;
}
.contact-us-section .contact-us-intro .contact-us-list{
  margin-bottom: 25px;
}
.contact-us-section .contact-us-intro .contact-us-list li{
  margin-left: 13px;
  margin-bottom: 10px;
}
.contact-us-intro .contact-us-list li::marker{
  font-size: 13px;
}
.contact-us-boxes{
  flex-direction: column;
  align-items: center;
}
.contact-us-boxes .contact-box{
  width: 516px;
}
.contact-us-boxes .contact-first-box{
  padding: 33px 280px 13px 40px;
  margin-right: 0;
  margin-bottom: 40px;
}
.contact-us-boxes .contact-first-box .contact-label{
  margin-bottom: 31px;
}
.contact-us-boxes .contact-first-box .contact-label a{
  text-decoration: underline;
}
.contact-first-box .contact-label .contact-info-ttl{
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;
}
.contact-us-boxes .contact-second-box{
  padding: 33px 0 68px 45px;
  background-color: var(--white);
}
.contact-second-box .contact-second-label{
  font-weight: 700;
  margin-bottom: 29px;
}
.contact-second-box .contact-second-address{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 28px;
}
.contact-second-box .contact-ph-no .phone{
  cursor: pointer;
  pointer-events: auto;
}

}