/*SORTED WITH POST CSS SORTING */

/*---------------------Home Page Start------------------------*/
/*advertisement*/
.top-news {
  background-color: var(--bg-dark-green);
}

.top-news p {
  padding: 13px 0 10px 0;
  color: var(--white);
  font-weight: 500;
  text-align: center;
}

/*main visual */
#home-mv {
  background: url(/img/top/img_mv_bg.png) center/cover no-repeat;
}

.home-mv {
  padding: 130px 0 180px 0;
}

.mv-txt-blk {
  margin-left: 60px;
  max-width: 384px;
}

.home-mv strong {
  display: inline-block;
  margin-bottom: 12px;
  padding: 7px 11.5px;
  background-color: #F7F7F7;
  font-size: 12px;
}

.home-mv h1 {
  line-height: 1.18;
  padding-bottom: 18px;
  font-size: 48px;
  font-weight: 700;
}

.home-mv span {
  display: block;
}

.home-mv p {
  line-height: 1.5;
  padding-bottom: 26px;
}

.home-mv button {
  padding: 8px 39px;
  font-size: 14px;
  font-weight: 700;
}

/*most popular products */
.mp {
  padding: 59px 0 19px 0;
}

.mp-ttl-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.mp-ttl-blk h2,
.tr-ttl-blk h2,
.br-ttl-blk h2 {
  font-size: 14px;
  font-weight: 700;
}

.mp-ttl-blk h2 a,
.tr-ttl-blk h2 a,
.br-ttl-blk h2 a {
  text-decoration: underline;
}

.mp-ttl-blk h2:first-of-type,
.tr-ttl-blk h2:first-of-type,
.br-ttl-blk h2:first-of-type {
  text-transform: uppercase;
}

.mp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.product-card {
  position: relative;
  width: 250px;
  margin-right: 60px;
  margin-bottom: 58px;
  cursor: pointer;
}

.product-card:nth-child(4n) {
  margin-right: 0;
}

.product-card strong {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 11px 0 0 11px;
  padding: 7px 11.5px;
  background-color: #F7F7F7;
  font-size: 12px;
}

.product-img {
  width: 100%;
  border: 1px solid var(--bg-dark-green);
  background-color: var(--white);
}

.product-img img {
  width: 100%;
  height: 346px;
}

.product-card h3 {
  padding: 13px 0 5px 0;
  font-size: 14px;
  font-weight: 700;
}

.product-card p {
  padding-bottom: 11px;
  font-size: 12px;
}

.product-card .price {
  padding: 0 0 13.5px 0;
  font-size: 12px;
  font-weight: 500;
}

/*discounted product */
.product-card:nth-child(4) .price {
  color: #A67744;
}

.product-card:nth-child(4) .price span {
  margin-left: 3px;
  color: var(--txt-black);
  text-decoration: line-through;
}

.product-card button {
  width: 100%;
  padding: 6px 0 11px 0;
  text-align: center;
}

.product-card button span {
  position: relative;
  padding-right: 12.6px;
  padding-left: 18.6px;
  color: var(--txt-black);
  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;
}

.product-card button span::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10.5px;
  height: 10px;
  background: url(/img/top/img_shopping_cart.svg) center/contain no-repeat;
  content: '';
  transform: translateY(-50%);
}

.product-card button:hover span {
  color: var(--white);
}

.product-card button:hover span::before {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(103%) contrast(103%);
}

/*clean product banner */
.cp-banner .banner-txt-blk {
  padding: 231px 101px 206px 170px;
  background-color: #547665;
}

.cp-banner .banner-txt-blk h3 {
  padding-bottom: 23px;
}

.cp-banner .banner-txt-blk p {
  padding-bottom: 58px;
}

/*top rated products */
#tr {
  background-color: var(--bg-light-green);
}

.tr {
  padding: 82px 0 40px 0;
}

.tr-ttl-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}

.tr-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

/*all natural ingredients banner */
.nip-banner .banner-txt-blk {
  padding: 231px 191px 206px 80px;
  background-color: #D1B0A8;
}

.nip-banner .banner-txt-blk h3 {
  padding-bottom: 23px;
}

.nip-banner .banner-txt-blk p {
  padding-bottom: 58px;
}

/*best recommended section */
#br {
  background-color: #F7F7F7;
}

.br {
  padding: 81px 0 20px 0;
}

.br-ttl-blk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
}

.br-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

/*ingredients */
.ingredients {
  padding: 85px 0 30px 0;
  text-align: center;
}

.ingre-ttl-blk {
  color: var(--bg-dark-green);
}

.ingre-ttl-blk h2 {
  padding-bottom: 14px;
  font-size: 28px;
  font-weight: 700;
}

.ingre-ttl-blk p {
  padding-bottom: 53px;
}

.ingre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.ingre-card {
  margin-right: 70px;
  margin-bottom: 45px;
  cursor: pointer;
}

.ingre-card:nth-child(3n) {
  margin-right: 0;
}

.ingre-img {
  width: 247px;
  height: 252px;
  margin-bottom: 32px;
}

.ingre-img img {
  width: 100%;
  height: 100%;
}

.ingre-card h3 {
  margin-bottom: 11px;
  color: var(--bg-dark-green);
  font-size: 14px;
  font-weight: 700;
}

.ingre-card p {
  position: relative;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 7px;
  font-size: 12px;
  font-weight: 400;
}

.ingre-card p::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  content: '';
}

.ingre-card:hover p::after {
  background-color: var(--orange);
}

/*services section */
#services {
  background-color: var(--bg-light-green);
}

.services {
  padding: 60px 0 55px 0;
}

.services-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: var(--bg-dark-green);
}

.services-list li {
  text-align-last: center;
}

.services-list li:first-of-type {
  margin-right: 110px;
  max-width: 148px;
}

.services-list li:nth-of-type(2) {
  margin-right: 120px;
  max-width: 148px;
}

.services-list li:last-of-type {
  margin-right: 0;
  max-width: 68px;
}

.services-list li img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.services-list li h2 {
  line-height: 1.18;
  padding-bottom: 17px;
}

.services-list a {
  padding-bottom: 10px;
  font-size: 12px;
  text-decoration: underline;
}

/*---------------------Home Page End------------------------*/

/*---------------------Category Page Start------------------------*/

.slider-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1400px;
}

.slide1,
.slide2,
.slide3 {
  position: relative;
}

.slide1 img:not(:first-of-type),
.slide2 img:not(:first-of-type),
.slide3 img:not(:first-of-type) {
  display: none;
}

.slide-txt {
  position: absolute;
  top: 50%;

  line-height: 1.3;
  margin-left: 170px;
  transform: translateY(-50%);

}

.slide-txt h2 {
  line-height: 1.18;
  padding-top: 10px;
  padding-bottom: 21px;
  font-size: 48px;
  font-weight: 700;
  max-width: 452px;
}

.slide-txt p {
  line-height: 1.5;
  font-size: 16px;
  max-width: 380px;
}

/*collections*/

.btns-blk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 44px 0px 40px 0px;
  gap: 80px;

}

.btns-blk button {
  line-height: 1.16;
  border: 1px solid var(--txt-black);
  color: var(--txt-black);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  transition: all 0.3s;
  border-radius: 26px;
}

.btns-blk button:first-of-type {
  margin-left: 47px;
  padding: 17px 50.5px 17px 50.5px;
}

.btns-blk button:nth-of-type(2) {
  padding: 17px 42px 17px 42px;
}

.btns-blk button:nth-of-type(3) {
  padding: 17px 51px 17px 51px;
}

.btns-blk button:hover {
  border: 1px solid #D1B0A8;
  background-color: #D1B0A8;
  color: var(--white);
}

.btns-blk button.active {
  border: 1px solid #D1B0A8;
  background-color: #D1B0A8;
  color: var(--white);
}

/*p-display */
.p-display {
  display: flex;
}

.filter-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 20px;
  max-width: 253px;
  row-gap: 61px;
}

.filter-list h3 {
  line-height: 1.18;
  padding-bottom: 31px;
  font-size: 16px;
  font-weight: 700;
}

.filter-list ul li {
  list-style: disc;
  line-height: 1.14;
  margin-left: 24.5px;
  padding-bottom: 31px;
  font-size: 14px;
}

.p-grid-blk {
  flex: 1;
}

.p-list {
  display: grid;
  padding-bottom: 48px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 32px;
  column-gap: 23px;
  border-bottom: 1px solid var(--txt-black);
}

.p-list .product-card,
.p-list2 .product-card {
  width: 100%;
  margin: 0;
}

.p-list .product-card:first-child {

  grid-column: 1/3;
  grid-row: 1/3;
}

.p-list .product-card .product-img img,
.p-list2 .product-card .product-img img {
  height: 213px;
}

.p-list .product-card:first-child .product-img img {
  height: 580px;
}

.p-list .product-card:nth-child(4),
.p-list .product-card:nth-child(5),
.p-list .product-card:nth-child(6) {
  margin-top: 30px;
  grid-column: auto;
  grid-row: auto;
}

/*p list 2 */
.p-list2 {
  display: grid;
  margin-bottom: 47px;
  padding: 48px 0 48px 0;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 62px;
  column-gap: 23px;
  border-bottom: 1px solid var(--txt-black);
}

.c-banner .banner-txt-blk {
  background-color: #35736A;
}

/*sun cream section */
.sun-cream {
  padding: 47px 0px 101px 0px;
  text-align: center;
}

.sun-cream h2 {
  line-height: 1.18;
  padding-bottom: 12px;
  padding-left: 36.5px;
  color: var(--bg-dark-green);
  font-size: 48px;
  font-weight: 700;
}

.sun-cream .sub-ttl {
  line-height: 1.5;
  padding-bottom: 44px;
  padding-left: 36.5px;
  color: var(--bg-dark-green);
  font-size: 16px;
}

.img-gallery-grid {
  display: grid;
  padding: 0 43px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 29px;
  row-gap: 61px;
}

.sc-item {
  text-align: left;
  cursor: pointer;
}

.sc-item img {
  width: 100%;
  height: 348px;
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.sc-item:hover img {
  border: 2px solid var(--txt-black);
}

.sc-item h3 {
  padding-bottom: 13px;
  font-size: 14px;
  font-weight: 700;
}

.sc-item p {
  line-height: 1.33;
  padding-bottom: 11px;
  font-size: 12px;
  font-weight: 400;
}

.sc-item a {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

/*---------------------Category Page End------------------------*/

/*---------------------Products Page Start------------------------*/
#p-mv {
  background-color: var(--bg-light-green);
}

.p-mv {
  padding: 80px 0 1px 0;
}

.p-mv-blk {
  display: flex;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  padding-bottom: 75px;
}

.mv-lt {
  position: relative;
  width: 569px;
  overflow: hidden;
}

.single-img1 {
  background-color: #CDDFD6;
}

.single-img2 {
  background-color: #F5E3DF;
}

.single-img3 {
  background-color: #C3CFD4;
}

.mv-rt {
  width: 50%;
  padding: 0 63px 0 60px;
}

.mv-rt strong {
  display: inline-block;
  padding: 7px 10px;
  background-color: #F7F7F7;
  font-size: 12px;
  font-weight: 700;
}

.mv-rt h2 {
  line-height: 1.18;
  padding-top: 7px;
  padding-bottom: 22px;
  font-size: 48px;
  font-weight: 700;
}

.review-blk {
  display: flex;
  align-items: center;
  padding-bottom: 20.5px;
  gap: 14.3px;
}

.review-blk span {
  font-size: 10px;
  font-weight: 400;
  text-decoration: underline;
}

.p-price {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  color: #DE3B35;
  gap: 16px;
}

.p-price span {
  color: var(--txt-black);
  text-decoration: line-through;
}

.mv-rt h4 {
  padding-bottom: 11px;
  font-size: 14px;
  font-weight: 700;
}

.mv-rt .p-info {
  line-height: 1.33;
  padding-bottom: 30px;
  font-size: 12px;
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.qty-btn {
  display: flex;
  align-items: center;
  border: 1px solid var(--txt-black);
}

.qty-btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 32.5px;
  font-weight: 700;
}

.qty-btn div:first-child,
.qty-btn div:nth-child(2) {
  border-right: 1px solid var(--txt-black);
}

.cart-btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 39px;
  text-align: center;
}

.cart-btns button span {
  position: relative;
  padding-left: 33px;
  color: var(--txt-black);
  font-size: 12px;
  font-weight: 500;
  text-wrap: nowrap;
}

.cart-btns button span::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 11.8px;
  height: 10px;
  background: url(/img/top/img_shopping_cart.svg) center/contain no-repeat;
  content: '';
}

.cart-btns button:hover span {
  color: var(--white);
}

.cart-btns button:hover span::before {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(103%) contrast(103%);
}

.accordion {
  width: 100%;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 11px 15px 7px 20px;
  background-color: var(--white);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.accordion-content {
  display: none;
  line-height: 1.33;
  padding: 10px 20px 10px 20px;
  font-size: 12px;
}

.toggle {
  color: var(--orange);
  font-size: 18px;
  font-weight: 700;
}

/*related products */
.related-blk h2 {
  padding-bottom: 52px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.related-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.related-list .product-card {
  margin-bottom: 53px;
}

/*products bottom section */
#p-btm {
  background-color: #F6F6F8;
}

.p-btm {
  padding: 49px 0 48px 0;
  text-align: center;
}

.p-btm h2 {
  padding-bottom: 16px;
}

.p-btm .ingre-ttl-blk p {
  padding-bottom: 63px;
}

.p-btm .ingre-list li .ingre-img {
  width: 300px;
  height: 230px;
  margin-bottom: 32px;
}

.p-btm .ingre-list .ingre-card {
  margin-right: 26px;
  margin-bottom: 0;
  margin-left: 26px;
}

/*product banner */
.products .banner-txt-blk {
  background-color: #AA96B5;
}

/*sooth stories */
.stories {
  padding: 85px 0 47px 0;
  text-align: center;
}

.stories h2 {
  padding-bottom: 27px;
  color: var(--bg-dark-green);
  font-size: 48px;
  font-weight: 700;
}

.tab-blk {
  margin: 0 auto;
  max-width: 499px;
}

.tab-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 41px;
}

.tab-btns li {
  font-size: 14px;
  cursor: pointer;
}

.tab-btns li.active {
  color: var(--orange);
}

.tab-content-blk {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 20px;
}

.tab-content-blk .tab-img {
  max-width: 154px;
}

.tab-blk p {
  line-height: 1.33;
  font-size: 12px;
  text-align: left;
}

/*---------------------Products Page End------------------------*/

/*---------------------About Us Page Start------------------------*/
/*covid section*/
.about-bdy .sp-mobile {
  display: none;
}

.about-bdy .sp {
  display: none;
}

.about-bdy .pc {
  display: block;
}

.covid-update-sec {
  padding: 50px 0 80px;
}

.covid-update-sec .cmn-container {
  display: flex;
}

.covid-update-sec .covid-sec-lft {
  margin-top: 125px;
  margin-left: 80px;
}

.covid-sec-lft span {
  display: inline-block;
  margin-bottom: 15px;
  padding: 9px 15px 8px;
  background-color: #DE5858;
  color: var(--white);
  font-size: 12px;
}

.covid-sec-lft h3 {
  margin-bottom: 21px;
  color: var(--bg-dark-green);
  font-size: 48px;
  font-weight: 700;
}

.covid-sec-lft p {
  line-height: 1.5;
  color: var(--bg-dark-green);
  font-size: 16px;
}

.covid-update-sec .covid-sec-rgt img {
  width: 647px;
  height: 485.5px;
  margin-left: 62px;
}

/*our mission*/
.mission-sec {
  margin: 0 auto;
  padding: 155px 0 196px;
  background: url("../img/about-us/our_mission.png") no-repeat center/cover;
  max-width: 1980px;
}

.mission-sec .mission-txt {
  margin-left: 60px;
}

.mission-sec h3 {
  margin-bottom: 20px;
  color: var(--txt-black);
  font-size: 48px;
  font-weight: 700;
}

.mission-sec p {
  line-height: 1.6;
  color: var(--txt-black);
  font-size: 16px;
}

/*middle-txt*/
.middle-txt {
  padding: 46px 0 39px;
  border: 1px solid var(--bg-dark-green);
  background-color: var(--white);
}

.middle-txt .cmn-container {
  text-align: center;
}

.middle-txt .mid-title {
  margin-bottom: 9px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
}

.middle-txt .mid-para {
  line-height: 1.187;
  margin: 0 auto;
  font-size: 16px;
  max-width: 632px;
}

/*Hand Section*/
.abt .banner-txt-blk {
  padding: 225px 191px 206px 80px;
  background-color: #EEF3F4;
  color: var(--txt-black);
}

.abt .banner-txt-blk h3,
.abt .banner-txt-blk p,
.abt .banner-txt-blk button {
  color: var(--txt-black);
}

.abt .banner-txt-blk button {
  border: 1px solid var(--txt-black);
}

.abt .banner-txt-blk button:hover {
  border-color: transparent;
}

/*Pink Hand Section*/
.ph .banner-txt-blk {
  padding: 225px 101px 206px 170px;
  background-color: #FBDEE1;
}

.ph .banner-txt-blk h3,
.ph .banner-txt-blk p,
.ph .banner-txt-blk button {
  color: var(--txt-black);
}

.ph .banner-txt-blk button {
  border: 1px solid var(--txt-black);
}

.ph .banner-txt-blk button:hover {
  border-color: transparent;
}

/*Instagram Section*/
.ig-sec {
  padding: 80px 0;
}
.ig-sec h2{
  display:none;
}
.ig-sec .cmn-container {
  text-align: center;
}

.ig-sec .ig-acc-logo {
  margin-bottom: 52px;
}

.ig-acc-logo img {
  margin-bottom: 9px;
}

.ig-sec .ig-photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ig-photo-gallery li {
  margin-right: 24px;
  margin-bottom: 20px;
}

.ig-photo-gallery li:nth-child(4n) {
  margin-right: 0;
}

/*feature section */
.feature-sec {
  padding-bottom: 80px;
}

.feature-sec .first-feature {
  margin-bottom: 60px;
}

.feature-sec .cmn-container {
  display: flex;
  align-items: center;
}

.feature-sec .feature-img-side {
  width: 50%;
  margin-right: 98px;
}

.feature-sec .feature-img-side img {
  width: 100%;
  height: 377px;
  margin-right: 9px;
}

.feature-sec .feature-txt-side {
  width: 50%;
}

.feature-sec .feature-txt-side .feature-txt-blk {
  margin-top: -10px;
}

.feature-sec .feature-txt-side strong {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.feature-sec .feature-txt-side h3 {
  line-height: 1.19;
  margin-bottom: 28px;
  color: var(--bg-dark-green);
  font-size: 28px;
  font-weight: 700;
}

.feature-sec .feature-txt-side p {
  line-height: 1.5;
  font-size: 16px;
}

.feature-sec .feature-txt-lft {
  margin-left: 80px;
}

.feature-sec .feature-right-img {
  margin-right: 0;
  margin-left: 57px;
}

/* ---------------------About Us Page End--------------------- */

/*---------------------Contact Us Page Start------------------------*/
.contact-us-section {
  padding: 53px 0 50px;
  background-color: #F7F7F7;
}

.contact-us-section .contact-us-intro {
  margin-bottom: 33px;
}

.contact-us-section .contact-us-intro .contact-us-title {
  margin-bottom: 30px;
  color: var(--txt-black);
  font-size: 48px;
  font-weight: 700;
}

.contact-us-section .contact-us-intro p {
  line-height: 1.6;
  margin-bottom: 25px;
  color: var(--txt-black);
  font-size: 16px;
}

.contact-us-section .contact-us-intro .contact-us-list {
  margin-bottom: 25px;
}

.contact-us-section .contact-us-intro .contact-us-list li {
  margin-bottom: 10px;
  margin-left: 13px;
  color: var(--bg-dark-green);
  font-weight: 700;
  list-style-type: disc;
}

.contact-us-intro .contact-us-list li::marker {
  font-size: 13px;
  vertical-align: middle;
}

.contact-us-section .contact-us-intro .contact-us-list span {
  color: var(--orange);
}

.contact-us-boxes {
  display: flex;
  justify-content: center;
}

.contact-us-boxes .contact-box {
  width: 516px;
}

.contact-us-boxes .contact-first-box {
  margin-right: 40px;
  padding: 37px 280px 13px 39px;
  background-color: var(--white);
}

.contact-us-boxes .contact-first-box .contact-label {
  margin-bottom: 31px;
}

.contact-us-boxes .contact-first-box .contact-label a {
  text-decoration: underline;
}

.contact-first-box .contact-label .contact-info-ttl {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}

.contact-first-box .contact-label p {
  color: var(--bg-dark-green);
}

.contact-us-boxes .contact-second-box {
  padding: 37px 0 38px 47px;
  background-color: var(--white);
}

.contact-second-box .contact-second-label {
  margin-bottom: 29px;
  font-weight: 700;
}

.contact-second-box .contact-second-address {
  line-height: 1.5;
  margin-bottom: 28px;
  font-size: 16px;
}

.contact-second-box .contact-ph-no .phone {
  cursor: none;
  pointer-events: none;
}

/*---------------------Contact Us Page End------------------------*/

/*Media Query Ipad*/
@media screen and (min-width:768px) and (max-width:1180px) {

  /*---------------------Home Page Start------------------------*/
  #home-mv {
    background: url(/img/top/img_home_bg_md.png) center/cover no-repeat;
  }

  .home-mv {
    padding: 5.208vw 0 33.894vw 0;
  }

  .mv-txt-blk {
    margin-left: 0;
  }

  /*most popular products */

  .mp {
    padding: 5.608vw 0 7.922vw 0;
  }

  .mp-ttl-blk {
    padding: 0vw 8.464vw 3.906vw 8.464vw;
  }

  .mp-list {
    column-gap: 7.813vw;
    row-gap: 5.078vw;
  }

  .mp-list .product-card {
    margin: 0;
  }

  /*clean product banner */
  .cp-banner .banner-txt-blk {
    padding: 12.37vw 0vw 13.021vw 10.417vw;
  }

  .cp-banner .banner-txt-blk h3 {
    max-width: 54.036vw;
  }

  .cp-banner .banner-txt-blk p {
    padding-left: 0.391vw;
  }

  .cp-banner .banner-txt-blk p span {
    display: block;
  }

  /*top rated products */
  .tr {
    padding: 10.49vw 0 7.682vw 0;
  }

  .tr-ttl-blk {
    padding: 0vw 8.464vw 5.469vw 8.464vw;
  }

  .tr-list {
    justify-content: center;
    column-gap: 7.813vw;
    row-gap: 4.883vw;
  }

  .tr-list .product-card {
    margin: 0;
  }

  /*all natural ingredients banner */
  .nip-banner .banner-txt-blk {
    padding: 13.021vw 0vw 13.021vw 10.417vw;
  }

  .nip-banner .banner-txt-blk h3 {
    max-width: 54.036vw;
  }

  .nip-banner .banner-txt-blk p {
    padding-left: 0.391vw;
    max-width: 75.781vw;
  }

  .nip-banner .banner-txt-blk p span {
    display: block;
  }

  /*best recommended section */
  .br {
    padding: 5.24vw 0 7.682vw 0;
  }

  .br-ttl-blk {
    padding: 0vw 8.464vw 4.167vw 8.464vw;
  }

  .br-list {
    justify-content: center;
    column-gap: 7.813vw;
    row-gap: 4.883vw;
  }

  .br-list .product-card {
    margin: 0;
  }

  /*ingredients */
  .ingredients {
    padding: 7.161vw 0 7.161vw 0;
  }

  .ingredients .ingre-ttl-blk {
    padding-right: 2.083vw;
  }

  .ingredients .ingre-ttl-blk p {
    padding-bottom: 6.51vw;
  }

  .ingredients .ingre-list {
    align-items: center;
    column-gap: 5.599vw;
    row-gap: 5.859vw;
  }

  .ingredients .ingre-card {
    margin: 0;
  }

  .ingredients .ingre-card .ingre-img {
    width: 26.042vw;
    height: 26.042vw;
    margin-bottom: 2.995vw;
  }

  /*services section */
  .services-list li:first-of-type {
    margin-right: 11.719vw;
    max-width: 17.708vw;
  }

  .services-list li:nth-of-type(2) {
    margin-right: 11.719vw;
    max-width: 19.271vw;
  }

  .services-list li:last-of-type {
    margin-right: 9.115vw;
    max-width: 8.854vw;
  }

  /*---------------------Home Page End------------------------*/

  /*---------------------Category Page Start------------------------*/
  .slider-wrapper {
    max-width: 100vw;
  }

  .slide1 img:first-of-type,
  .slide2 img:first-of-type,
  .slide3 img:first-of-type {
    display: none;
  }

  .slide1 img:nth-of-type(2),
  .slide2 img:nth-of-type(2),
  .slide3 img:nth-of-type(2) {
    display: block;
  }

  .slide-txt {
    position: absolute;
    top: 37.15%;

    line-height: 1.3;
    margin-left: 9.115vw;
  }

  /*collections*/

  .btns-blk {
    padding: 6.38vw 0vw 5.208vw 0vw;
  }

  .btns-blk button:first-of-type {
    margin-left: 0vw;
    padding: 2.214vw 6.576vw 2.214vw 6.576vw;
  }

  .btns-blk button:nth-of-type(2) {
    padding: 2.214vw 5.143vw 2.214vw 5.143vw;
  }

  .btns-blk button:nth-of-type(3) {
    padding: 2.214vw 6.38vw 2.214vw 6.38vw;
  }

  /*p-display */
  .p-display {
    display: block;
  }

  .filter-col {
    flex-direction: row;
    justify-content: center;
    margin-top: 0vw;
    padding-bottom: 2.604vw;
    column-gap: 11.849vw;
    max-width: 100%;
  }

  .filter-list h3 {
    padding-bottom: 4.297vw;
  }

  .p-list {
    padding: 0 3.75vw 6.25vw 3.75vw;
    padding-bottom: 6.25vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.818vw;
    column-gap: 4.688vw;
    border-bottom: 0.13vw solid var(--txt-black);
  }

  .p-list .product-card,
  .p-list2 .product-card {
    width: 100%;
    margin: 0;
  }

  .p-list .product-card:nth-child(4),
  .p-list .product-card:nth-child(5),
  .p-list .product-card:nth-child(6) {
    margin-top: 0vw;
  }

  /*p list 2 */
  .p-list2 {
    padding: 6.25vw 3.75vw 6.25vw 3.75vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.818vw;
    column-gap: 4.688vw;
    border-bottom: 0.13vw solid var(--txt-black);
  }

  /*sun cream section */
  .sun-cream {
    padding: 6.771vw 0vw 7.813vw 0vw;
  }

  .sun-cream h2 {
    padding-left: 0vw;
  }

  .sun-cream .sub-ttl {
    padding-bottom: 4.427vw;
    padding-left: 0vw;
  }

  .img-gallery-grid {
    padding: 0 10.286vw;

    grid-template-columns: 1fr 1fr;
    column-gap: 3.776vw;
    row-gap: 5.208vw;
  }

  /*---------------------Category Page End------------------------*/

  /*---------------------Products Page Start------------------------*/
  .p-mv {
    padding: 6.51vw 0 1.30vw 0;
  }

  .p-mv-blk {
    display: block;
    padding-bottom: 6.901vw;
  }

  .mv-lt {
    margin: 0 auto;
    margin-bottom: 3.646vw;
  }

  .mv-rt {
    width: 100%;
    padding: 0 8.203vw 0 8.333vw;
  }

  .mv-rt h2 {
    max-width: 60.026vw;
  }

  .review-blk {
    padding-bottom: 2.799vw;
    gap: 1.862vw;
  }

  .cart-btns button {
    padding: 1.237vw 11.458vw;
    text-align: center;
  }

  /*related products */
  .related-blk h2 {
    padding-bottom: 4.427vw;
  }

  .related-list {
    justify-content: center;
    column-gap: 7.813vw;
  }

  .related-list .product-card {
    margin-right: 0;
    margin-bottom: 4.948vw;
  }

  /*products bottome section */
  .p-btm {
    padding: 6.901vw 0 8.2vw 0;
  }

  .p-btm .ingre-ttl-blk {
    padding-right: 2.995vw;
  }

  .p-btm .ingre-ttl-blk p {
    padding-right: 0.651vw;
  }

  .p-btm .ingre-list {
    justify-content: space-between;
  }

  .p-btm .ingre-list li .ingre-img {
    width: 26.042vw;
    height: 26.042vw;
    margin-bottom: 0.13vw;
  }

  .p-btm .ingre-list .ingre-card {
    margin-right: 0vw;
    margin-bottom: 0;
    margin-left: 0vw;
  }

  /*product banner */
  .products .banner-txt-blk {
    padding: 12.63vw 0vw 13.021vw 10.417vw;
  }

  .products .banner-txt-blk p {
    max-width: 100%;
  }

  /*sooth stories */
  .stories {
    padding: 7.292vw 0 7vw 0;
  }

  /* ---------------------Product Page End--------------------- */

  /*---------------------About Us Page Start------------------------*/
  .about-bdy .sp-mobile {
    display: none;
  }

  .about-bdy .sp {
    display: block;
  }

  .about-bdy .pc {
    display: none;
  }

  /*covid section*/
  .covid-update-sec {
    padding: 2.604vw 0 6.51vw;
  }

  .covid-update-sec .cmn-container {
    flex-direction: column;
  }

  .covid-update-sec .covid-sec-lft {
    margin-top: 0;
    margin-bottom: 5.208vw;
    margin-left: 0;
  }

  .covid-sec-lft span {
    margin-bottom: 1.953vw;
    padding: 0.911vw 1.953vw;
    font-size: 1.563vw;
  }

  .covid-sec-lft h3 {
    margin-bottom: 2.865vw;
    font-size: 6.25vw;
  }

  .covid-sec-lft p {
    line-height: 1.5;
    font-size: 2.083vw;
  }

  .covid-update-sec .covid-sec-rgt img {
    width: 100%;
    height: 66.853vw;
    margin-left: 0;
  }

  /*our mission*/
  .mission-sec {
    padding: 9.505vw 0 18.229vw;
    background: url("../img/about-us/mission_cover.jpg") no-repeat center/cover;
  }

  .mission-sec .mission-txt {
    margin-left: 0;
  }

  .mission-sec h3 {
    line-height: 1.15;
    margin-bottom: 2.604vw;
    font-size: 6.25vw;
  }

  .mission-sec p {
    line-height: 1.6;
    font-size: 2.083vw;
  }

  /*middle-txt*/
  .middle-txt {
    padding: 5.599vw 0 5.078vw;
    border: 0.13vw solid var(--bg-dark-green);
  }

  .middle-txt .mid-title {
    margin-bottom: 1.302vw;
    font-size: 3.646vw;
  }

  .middle-txt .mid-para {
    line-height: 1.1;
    font-size: 2.083vw;
  }

  /*Instagram Section*/
  .ig-sec {
    padding: 6.51vw 0 0;
  }

  .ig-sec .cmn-container {
    text-align: center;
  }

  .ig-sec .ig-acc-logo {
    margin-bottom: 5.208vw;
  }

  .ig-acc-logo img {
    margin-bottom: 1.172vw;
  }

  .ig-photo-gallery li {
    margin-right: 7.422vw;
    margin-bottom: 7.813vw;
  }

  .ig-photo-gallery li img {
    width: 40.885vw;
    height: 33.203vw;
  }

  .ig-photo-gallery li:nth-child(2n) {
    margin-right: 0;
  }

  /*feature section */
  .feature-sec {
    padding-bottom: 13.417vw;
  }

  .feature-sec .first-feature {
    margin-bottom: 11.068vw;
  }

  .feature-sec .cmn-container {
    flex-direction: column;
  }

  .feature-sec .second-feature .feature-txt-side {
    order: 2;
  }

  .feature-sec .second-feature .feature-img-side {
    order: 1;
  }

  .feature-sec .feature-img-side {
    width: 100%;
    margin-right: 0;
  }

  .feature-sec .feature-img-side img {
    width: 100%;
    height: 60.286vw;
    margin-right: 0;
    margin-bottom: 5.208vw;
  }

  .feature-sec .feature-txt-side {
    width: 100%;
  }

  .feature-sec .feature-txt-side .feature-txt-blk {
    margin-top: -1.302vw;
  }

  .feature-sec .feature-txt-side strong {
    display: inline-block;
    margin-bottom: 2.865vw;
    font-size: 1.823vw;
    font-weight: 400;
    text-transform: uppercase;
  }

  .feature-sec .feature-txt-side h3 {
    line-height: 1.19;
    margin-bottom: 3.646vw;
    color: var(--bg-dark-green);
    font-size: 3.646vw;
    font-weight: 700;
  }

  .feature-sec .feature-txt-side p {
    line-height: 1.5;
    font-size: 2.083vw;
  }

  .feature-sec .feature-txt-lft {
    margin-left: 0;
  }

  .feature-sec .feature-right-img {
    margin-right: 0;
    margin-left: 0;
  }

  .second-feature .feature-txt-lft {
    margin-left: 0.911vw;
  }

  /*---------------------About Page End------------------------*/

  /*---------------------Contact Us Page Start------------------------*/
  .contact-us-section {
    padding: 6.901vw 0 10.2vw;
  }

  .contact-us-section .contact-us-intro {
    margin-bottom: 5.859vw;
  }

  .contact-us-section .contact-us-intro .contact-us-title {
    margin-bottom: 3.906vw;
    font-size: 6.25vw;
  }

  .contact-us-section .contact-us-intro p {
    margin-bottom: 3.255vw;
    font-size: 2.083vw;
  }

  .contact-us-section .contact-us-intro .contact-us-list {
    margin-bottom: 3.255vw;
  }

  .contact-us-section .contact-us-intro .contact-us-list li {
    margin-bottom: 1.302vw;
    margin-left: 1.693vw;
  }

  .contact-us-intro .contact-us-list li::marker {
    font-size: 1.693vw;
  }

  .contact-us-boxes {
    flex-direction: column;
    align-items: center;
  }

  .contact-us-boxes .contact-box {
    width: 66.667vw;
  }

  .contact-us-boxes .contact-first-box {
    margin-right: 0;
    margin-bottom: 5.208vw;
    padding: 4.557vw 36.458vw 1.693vw 4.948vw;
  }

  .contact-us-boxes .contact-first-box .contact-label {
    margin-bottom: 4.036vw;
  }

  .contact-us-boxes .contact-first-box .contact-label a {
    text-decoration: underline;
  }

  .contact-first-box .contact-label .contact-info-ttl {
    margin-bottom: 1.042vw;
    font-size: 2.083vw;
    font-weight: 700;
  }

  .contact-us-boxes .contact-second-box {
    padding: 4.297vw 0 4.948vw 5.859vw;
    background-color: var(--white);
  }

  .contact-second-box .contact-second-label {
    margin-bottom: 3.776vw;
    font-weight: 700;
  }

  .contact-second-box .contact-second-address {
    line-height: 1.5;
    margin-bottom: 3.646vw;
    font-size: 2.083vw;
  }

  .contact-second-box .contact-ph-no .phone {
    cursor: pointer;
    pointer-events: auto;
  }
}

/*SP*/
@media screen and (max-width:767.9px) {
  .default-btn {
    border: solid 0.156vw var(--bg-dark-green);
  }

  /*---------------------Home Page Start------------------------*/
  .top-news p {
    padding: 2.344vw 0 2.969vw 0;
    color: var(--white);
    font-size: 2.5vw;
    font-weight: 500;
    text-align: center;
  }

  /*home mv */
  #home-mv {
    background: url(/img/top/img_home_bg_sp.png) center/cover no-repeat;
  }

  .home-mv {
    padding: 77.188vw 0 9.375vw 0;
  }

  .mv-txt-blk {
    margin-left: 9.688vw;
    max-width: 70.625vw;
  }

  .home-mv h1 {
    padding-bottom: 2.813vw;
    font-size: 7.5vw;
  }

  .home-mv p {
    padding-bottom: 3.125vw;
    font-size: 2.5vw;
  }

  .home-mv span {
    display: inline;
  }

  .home-mv strong {
    margin-bottom: 1.875vw;
    padding: 1.094vw 1.797vw;
    font-size: 1.875vw;
  }

  .home-mv button {
    padding: 1.25vw 6.094vw;
    font-size: 2.188vw;
  }

  /*most popular products */
  .mp {
    padding: 6.25vw 0 9.3vw 0;
  }

  .mp-ttl-blk {
    padding: 0vw 3.438vw 4.688vw 3.438vw;
  }

  .mp-ttl-blk h2,
  .tr-ttl-blk h2,
  .br-ttl-blk h2 {
    font-size: 2.188vw;
  }

  .mp-list {
    column-gap: 9.375vw;
    row-gap: 6.094vw;
  }

  .product-card {
    width: 39.063vw;
    margin-right: 9.375vw;
    margin-bottom: 9.063vw;
  }

  .mp-list .product-card {
    margin: 0;
  }

  .product-img img {
    height: 54.063vw;
  }

  .product-card strong {
    margin: 1.719vw 0 0 1.719vw;
    padding: 1.094vw 1.797vw;
    font-size: 1.875vw;
  }

  .product-card h3 {
    padding: 2.031vw 0 0.781vw 0;
    font-size: 2.188vw;
  }

  .product-card p {
    padding-bottom: 1.719vw;
    font-size: 1.875vw;
  }

  .product-card .price {
    padding: 0 0 2.109vw 0;
    font-size: 1.875vw;
  }

  .product-card button {
    padding: 0.938vw 0 1.719vw 0;
  }

  .product-card button span {
    padding-right: 1.969vw;
    padding-left: 2.906vw;
    font-size: 1.875vw;
  }

  .product-card button span::before {
    width: 1.641vw;
    height: 1.563vw;
  }

  /*clean product banner */
  .cp-banner .banner-txt-blk {
    padding: 14.844vw 0vw 15.625vw 12.5vw;
  }

  .cp-banner .banner-txt-blk h3 {
    padding-bottom: 3.906vw;
    max-width: 64.844vw;
  }

  .cp-banner .banner-txt-blk p {
    padding-bottom: 9.063vw;
    padding-left: 0.469vw;
    max-width: 66.719vw;
  }

  .cp-banner .banner-txt-blk p span {
    display: inline;
  }

  /*top rated products */
  .tr {
    padding: 6.8vw 0 9.219vw 0;
  }

  .tr-ttl-blk {
    padding: 0vw 3.438vw 5vw 3.438vw;
  }

  .tr-list {
    justify-content: center;
    column-gap: 9.375vw;
    row-gap: 5.859vw;
  }

  .tr-list .product-card {
    margin: 0;
  }

  /*all natural ingredients banner */
  .nip-banner .banner-txt-blk {
    padding: 15.625vw 0vw 15.625vw 12.5vw;
  }

  .nip-banner .banner-txt-blk h3 {
    max-width: 64.844vw;
  }

  .nip-banner .banner-txt-blk p {
    padding-bottom: 9.063vw;
    padding-left: 0.469vw;
    max-width: 66.719vw;
  }

  .nip-banner .banner-txt-blk p span {
    display: inline;
  }

  /*best recommended section */
  .br {
    padding: 6.319vw 0 9.219vw 0;
  }

  .br-ttl-blk {
    padding: 0vw 3.438vw 5vw 3.438vw;
  }

  .br-list {
    justify-content: center;
    column-gap: 9.375vw;
    row-gap: 5.859vw;
  }

  .br-list .product-card {
    margin: 0;
  }

  /*ingredients */
  .ingredients {
    padding: 8.5vw 0 0.156vw 0;
  }

  .ingre-ttl-blk h2 {
    padding-bottom: 2.188vw;
    font-size: 4.375vw;
  }

  .ingredients .ingre-ttl-blk p {
    padding-bottom: 6.719vw;
    font-size: 2.5vw;
  }

  .ingredients .ingre-list {
    flex-direction: column;
    align-items: center;
  }

  .ingredients .ingre-card {
    margin: 0;
    margin-bottom: 6.875vw;
  }

  .ingredients .ingre-card:first-child {
    margin-bottom: 9.375vw;
  }

  .ingredients .ingre-card:nth-child(5) {
    margin-bottom: 7.188vw;
  }

  .ingre-img {
    width: 38.594vw;
    height: 39.375vw;
    margin-bottom: 5vw;
  }

  .ingre-card h3 {
    margin-bottom: 1.719vw;
    font-size: 2.188vw;
  }

  .ingre-card p {
    padding-bottom: 1.094vw;
    font-size: 1.875vw;
  }

  .ingre-card p::after {
    width: 100%;
    height: 0.313vw;
  }

  /*services section */
  .services {
    padding: 9.375vw 0 7.813vw 0;
  }

  .services-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 11.406vw;
  }

  .services-list li:first-of-type {
    margin-right: 0.313vw;
    max-width: 21.25vw;
  }

  .services-list li:nth-of-type(2) {
    margin-right: 0.313vw;
    max-width: 23.125vw;
  }

  .services-list li:last-of-type {
    margin-right: 0.313vw;
    max-width: 10.625vw;
  }

  .services-list li img {
    width: 4.688vw;
    height: 4.688vw;
    margin-bottom: 1.563vw;
  }

  .services-list li h2 {
    padding-bottom: 2.656vw;
    font-size: 2.5vw;
  }

  .services-list a {
    padding-bottom: 1.563vw;
    font-size: 1.875vw;
  }

  /*---------------------Home Page End------------------------*/

  /*---------------------Category Page Start------------------------*/
  .slider-wrapper {
    max-width: 100vw;
  }

  .slide1 img:first-of-type,
  .slide2 img:first-of-type,
  .slide3 img:first-of-type {
    display: none;
  }

  .slide1 img:nth-of-type(3),
  .slide2 img:nth-of-type(3),
  .slide3 img:nth-of-type(3) {
    display: block;
  }

  .slide-txt {
    position: absolute;
    top: 40%;
    line-height: 1.3;
    margin-left: 6.406vw;
  }

  .slide-txt h2 {
    padding-top: 1.563vw;
    padding-bottom: 3.281vw;
    font-size: 7.5vw;
    max-width: 70.625vw;
  }

  .slide-txt p {
    font-size: 2.5vw;
    max-width: 59.375vw;
  }

  /*middle text */
  .c-middle-txt {
    margin-top: -1.406vw;
  }

  /*collections*/

  .btns-blk {
    padding: 5.938vw 0vw 6.25vw 0vw;
    gap: 3.125vw;
  }

  .btns-blk button {
    border: 0.156vw solid var(--txt-black);
    font-size: 2.813vw;
    border-radius: 4.063vw;
  }

  .btns-blk button:first-of-type {
    margin-left: 0vw;
    padding: 2.656vw 7.969vw 2.656vw 7.969vw;
  }

  .btns-blk button:nth-of-type(2) {
    padding: 2.656vw 6.563vw 2.656vw 6.563vw;
  }

  .btns-blk button:nth-of-type(3) {
    padding: 2.656vw 7.969vw 2.656vw 7.969vw;
  }

  /*p-display */
  .p-display {
    display: block;
  }

  .filter-col {
    flex-direction: row;
    justify-content: center;
    margin-top: 1.563vw;
    padding-bottom: 1.563vw;
    column-gap: 14.219vw;
    max-width: 100%;
  }

  .filter-list h3 {
    padding-bottom: 5.156vw;
    font-size: 2.5vw;
  }

  .filter-list ul li {

    margin-left: 3.828vw;
    padding-bottom: 4.844vw;
    font-size: 2.188vw;
  }

  .p-list {
    padding: 0vw 3.594vw 6.406vw 3.594vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 6.094vw;
    column-gap: 3.438vw;
    border-bottom: 0.156vw solid var(--txt-black);
  }

  .p-list .product-card,
  .p-list2 .product-card {
    width: 100%;
    margin: 0;
  }

  .p-list .product-card .product-img img,
  .p-list2 .product-card .product-img img {
    height: 33.281vw;
  }

  .p-list .product-card:first-child .product-img img {
    height: 90.625vw;
  }

  .p-list .product-card:nth-child(4),
  .p-list .product-card:nth-child(5),
  .p-list .product-card:nth-child(6) {
    margin-top: 0vw;
  }

  /*p list 2 */
  .p-list2 {
    margin-bottom: 9.375vw;
    padding: 6.25vw 3.594vw 6.25vw 3.594vw;
    grid-template-columns: 1fr 1fr;
    row-gap: 6.094vw;
    column-gap: 3.438vw;
    border-bottom: 0.156vw solid var(--txt-black);
  }

  /*sun cream section */
  .sun-cream {
    padding: 8.906vw 0vw 6.25vw 0vw;

  }

  .sun-cream h2 {
    padding-bottom: 1.875vw;
    padding-left: 0vw;
    font-size: 7.5vw;
  }

  .sun-cream .sub-ttl {
    padding-bottom: 5.313vw;
    padding-left: 0vw;
    font-size: 2.5vw;
  }

  .img-gallery-grid {
    padding: 0 27.344vw;

    grid-template-columns: 1fr;
    column-gap: 0vw;
    row-gap: 4.375vw;
  }

  .sc-item {
    text-align: center;
  }

  .sc-item img {
    height: 54.375vw;
    margin-bottom: 3.125vw;
    border: 0.234vw solid transparent;
  }

  .sc-item h3 {
    padding-bottom: 2.031vw;
    font-size: 2.188vw;
  }

  .sc-item p {
    padding-bottom: 1.719vw;
    padding-left: 2.344vw;
    font-size: 1.875vw;
    text-align: left;
  }

  .sc-item a {
    font-size: 2.188vw;

  }

  /*---------------------Category Page End------------------------*/


  /*---------------------Products Page Start------------------------*/
  .p-mv {
    padding: 4.688vw 0 3.906vw 0;
  }

  .p-mv-blk {
    display: block;
    padding-bottom: 14.688vw;
  }

  .mv-lt {
    width: 88.906vw;
    margin: 0 auto;
    margin-bottom: 4.375vw;
  }

  .mv-rt {
    width: 100%;
    padding: 0 3.594vw 0 3.594vw;
  }

  .mv-rt strong {
    padding: 1.094vw 1.563vw;
    font-size: 1.875vw;
  }

  .mv-rt h2 {
    padding-top: 1.094vw;
    padding-bottom: 3.438vw;
    font-size: 7.5vw;
    max-width: 72.031vw;
  }

  .review-blk {
    padding-bottom: 3.203vw;
    gap: 2.234vw;
  }

  .review-blk img {
    width: 14.18vw;
  }

  .review-blk span {
    font-size: 1.563vw;
  }

  .p-price {
    padding-bottom: 3.75vw;
    font-size: 2.5vw;
    gap: 2.5vw;
  }

  .mv-rt h4 {
    padding-bottom: 1.719vw;
    font-size: 2.188vw;
  }

  .mv-rt .p-info {
    padding-bottom: 4.688vw;
    font-size: 1.875vw;
  }

  .review-blk {
    padding-bottom: 3.359vw;
    gap: 2.234vw;
  }

  .cart-btns button {
    padding: 1.484vw 13.75vw;
  }

  .cart-btns button span {
    padding-left: 5.156vw;
    font-size: 1.875vw;
  }

  .cart-btns button span::before {
    width: 1.844vw;
    height: 1.563vw;
  }

  .qty-btn {
    border: 0.156vw solid var(--txt-black);
  }

  .qty-btn div {
    width: 6.094vw;
    height: 5.078vw;
    font-size: 3.125vw;
  }

  .qty-btn div:first-child,
  .qty-btn div:nth-child(2) {
    border-right: 0.156vw solid var(--txt-black);
  }

  .accordion-header {
    padding: 1.719vw 2.344vw 1.094vw 3.125vw;
    font-size: 1.875vw;
  }

  .toggle {
    font-size: 2.813vw;
  }

  .accordion-content {
    padding: 1.563vw 3.125vw 1.563vw 3.125vw;
    font-size: 1.875vw;
  }

  /*related products */
  .related-blk h2 {
    padding-bottom: 5.313vw;
  }

  .related-list {
    justify-content: center;
  }

  .related-list .product-card {
    margin-bottom: 5.938vw;
  }

  .related-list .product-card:nth-child(2n) {
    margin-right: 0;
  }

  .related-list .product-card:nth-child(3) {
    margin-bottom: 0;
  }

  .related-list .product-card:nth-child(4) {
    margin-bottom: 0;
  }

  /*products bottom section */
  .p-btm {
    padding-bottom: 10.156vw;
  }

  .p-btm .ingre-ttl-blk h2 {
    padding-bottom: 2.588vw;
    font-size: 4.375vw;
  }

  .p-btm .ingre-ttl-blk p {
    padding-bottom: 9.844vw;
    font-size: 2.5vw;
  }

  .p-btm .ingre-list {
    gap: 11.719vw;
  }

  .p-btm .ingre-list li .ingre-img {
    width: 46.875vw;
    height: 35.938vw;
    margin-bottom: 1.328vw;
  }

  .p-btm .ingre-list li h3 {
    margin-bottom: 2.031vw;
  }

  /*product banner */
  .products .banner-txt-blk {
    padding: 15vw 0vw 15.625vw 12.5vw;
  }

  .products .banner-txt-blk button {
    padding: 1.328vw 5.5vw 1.328vw 5.5vw;
  }

  /*sooth stories */
  .stories {
    padding: 7.188vw 0 9.6vw 0;
  }

  .stories h2 {
    padding-bottom: 4.219vw;
    font-size: 7.5vw;
  }

  .tab-blk {
    max-width: 77.969vw;
  }

  .tab-btns {
    padding-bottom: 6.406vw;
  }

  .tab-btns li {
    font-size: 2.188vw;
  }

  .tab-content-blk .tab-img {
    max-width: 24.063vw;
  }

  .tab-blk p {
    font-size: 1.875vw;
  }

  /*-----------------------Product Page End-----------------------*/

  /*---------------------About Us Page Start------------------------*/
  /*covid section*/
  .about-bdy .sp-mobile {
    display: block;
  }

  .about-bdy .sp {
    display: none;
  }

  .about-bdy .pc {
    display: none;
  }

  .covid-update-sec {
    padding: 4.688vw 0 9.375vw;
  }

  .covid-update-sec .cmn-container {
    flex-direction: column;
  }

  .covid-update-sec .covid-sec-lft {
    margin-top: 0;
    margin-bottom: 6.25vw;
    margin-left: 0.313vw;
  }

  .covid-sec-lft span {
    margin-bottom: 2.344vw;
    padding: 1.094vw 2.344vw;
    font-size: 1.875vw;
  }

  .covid-sec-lft h3 {
    margin-bottom: 3.75vw;
    font-size: 7.5vw;
  }

  .covid-sec-lft p {
    line-height: 1.5;
    margin-bottom: -1.563vw;
    font-size: 2.5vw;
  }

  .covid-update-sec .covid-sec-rgt img {
    width: 100%;
    height: 70.234vw;
    margin-left: 0;
  }

  /*our mission*/
  .mission-sec {
    padding: 12.5vw 0 24.9vw;
    background: url("../img/about-us/mission_cover.jpg") no-repeat center/cover;
  }

  .mission-sec .mission-txt {
    margin-left: 3.125vw;
  }

  .mission-sec h3 {
    line-height: 1.15;
    margin-bottom: 3.125vw;
    font-size: 7.5vw;
  }

  .mission-sec p {
    line-height: 1.5;
    color: var(--txt-black);
    font-size: 2.5vw;
  }

  /*middle-txt*/
  .middle-txt {
    padding: 6.875vw 0 6.094vw;
    border: 0.156vw solid var(--bg-dark-green);
  }

  .middle-txt .mid-title {
    margin-bottom: 1.563vw;
    font-size: 4.375vw;
  }

  .middle-txt .mid-para {
    line-height: 1.18;
    font-size: 2.5vw;
    max-width: 73.75vw;
  }

  .middle-txt .mid-para span {
    display: block;
  }

  /*Hand Section*/
  .abt .banner-txt-blk p {
    padding-bottom: 8.438vw;
  }

  .abt .banner-txt-blk button {
    padding: 1.484vw 6.016vw;
    font-size: 2.188vw;
  }

  /*Pink Hand Section*/

  .ph .banner-txt-blk button {
    padding: 1.35vw 6.016vw;
    font-size: 2.188vw;
  }

  /*Instagram Section*/
  .ig-sec {
    padding: 9.375vw 0 5.625vw;
  }

  .ig-sec .cmn-container {
    text-align: center;
  }

  .ig-sec .ig-acc-logo {
    margin-bottom: 6.25vw;
  }

  .ig-acc-logo img {
    margin-bottom: 1.406vw;
  }

  .ig-photo-gallery li {
    margin-right: 3.75vw;
    margin-bottom: 3.75vw;
  }

  .ig-photo-gallery li img {
    width: 39.844vw;
    height: 39.844vw;
  }

  .ig-photo-gallery li:nth-child(2n) {
    margin-right: 0;
  }

  /*feature section */
  .feature-sec {
    padding: 0 3.906vw 15.5vw;
  }

  .feature-sec .first-feature {
    margin-bottom: 12.5vw;
  }

  .feature-sec .cmn-container {
    flex-direction: column;
  }

  .feature-sec .second-feature .feature-txt-side {
    order: 2;
  }

  .feature-sec .second-feature .feature-img-side {
    order: 1;
  }

  .feature-sec .feature-img-side {
    width: 100%;
    margin-right: 0;
  }

  .feature-sec .feature-img-side img {
    width: 100%;
    height: 59.219vw;
    margin-right: 0;
    margin-bottom: 6.25vw;
  }

  .feature-sec .feature-txt-side {
    width: 100%;
  }

  .feature-sec .feature-txt-side .feature-txt-blk {
    margin-top: -1.563vw;
  }

  .feature-sec .feature-txt-side strong {
    display: inline-block;
    margin-bottom: 3.438vw;
    font-size: 2.188vw;
    font-weight: 400;
    text-transform: uppercase;
  }

  .feature-sec .feature-txt-side h3 {
    line-height: 1.19;
    margin-bottom: 4.375vw;
    color: var(--bg-dark-green);
    font-size: 4.375vw;
    font-weight: 700;
  }

  .feature-sec .feature-txt-side p {
    line-height: 1.5;
    font-size: 2.5vw;
  }

  .feature-sec .feature-txt-lft {
    margin-left: 0;
  }

  .feature-sec .feature-right-img {
    margin-right: 0;
    margin-left: 0;
  }

  .second-feature .feature-txt-lft {
    margin-left: 1.094vw;
  }

  /*---------------------About Us Page End------------------------*/

  /*---------------------Contact Us Page Start------------------------*/
  .contact-us-section {
    padding: 6.563vw 0 10vw;
  }

  .contact-us-section .contact-us-intro {
    margin-bottom: 5.469vw;
  }

  .contact-us-section .contact-us-intro .contact-us-title {
    margin-bottom: 5.313vw;
    font-size: 7.5vw;
  }

  .contact-us-section .contact-us-intro p {
    margin-bottom: 3.906vw;
    font-size: 2.5vw;
  }

  .contact-us-section .contact-us-intro .contact-us-list {
    margin-bottom: 3.906vw;
  }

  .contact-us-section .contact-us-intro .contact-us-list li {
    margin-bottom: 1.563vw;
    margin-left: 2.031vw;
    font-size: 2.5vw;
  }

  .contact-us-intro .contact-us-list li::marker {
    font-size: 2.031vw;
  }

  .contact-us-boxes {
    flex-direction: column;
    align-items: center;
  }

  .contact-us-boxes .contact-box {
    width: 80.625vw;
  }

  .contact-us-boxes .contact-first-box {
    margin-right: 0;
    margin-bottom: 6.25vw;
    padding: 5.156vw 43.75vw 2.031vw 6.25vw;
  }

  .contact-us-boxes .contact-first-box .contact-label {
    margin-bottom: 4.844vw;
  }

  .contact-us-boxes .contact-first-box .contact-label a {
    text-decoration: underline;
  }

  .contact-first-box .contact-label .contact-info-ttl {
    margin-bottom: 1.25vw;
    font-size: 2.5vw;
    font-weight: 700;
  }

  .contact-first-box .contact-label p {
    font-size: 2.5vw;
  }

  .contact-us-boxes .contact-second-box {
    padding: 5.156vw 0 10.625vw 7.031vw;
    background-color: var(--white);
  }

  .contact-second-box .contact-second-label {
    margin-bottom: 4.531vw;
    font-size: 2.5vw;
    font-weight: 700;
  }

  .contact-second-box .contact-second-address {
    line-height: 1.5;
    margin-bottom: 4.375vw;
    font-size: 2.5vw;
  }

  .contact-second-box .contact-ph-no .phone {
    font-size: 2.5vw;
    cursor: pointer;
    pointer-events: auto;
  }

  /*---------------------Contact Us Page End------------------------*/
}

/*SORTED WITH POST CSS SORTING */